{% extends 'YacareBaseBundle::layout.html.twig' %}

{% block title %}Requisito{% endblock %}

{% block content %}

<form class="form-horizontal" action="{{ path('yacare_tramites_tramite_guardar', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    <legend>{% if entity.id %} {{ entity.Nombre }} {% else %} Nuevo trámite {% endif %}</legend>
    {{ form_widget(edit_form) }}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary"><i class="icon-white icon-ok"></i> Guardar</button>
	<a class="btn" href="{{ path('yacare_tramites_tramite_listar') }}">Cancelar</a>
    </div>
</form>

{% endblock %}