{% extends 'YacareBaseBundle:Default:listar.html.twig' %}

{% block title %}Trámites{% endblock %}

{% block content_header '' %}

{% block content %}

{% include 'YacareBaseBundle::buscar.html.twig' %}

<table class="table table-striped">
    <thead>
        <tr>
            <th> </th>
            <th>Nombre</th>
            <th>Web</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a class="btn btn-mini" href="{{ path('yacare_tramites_tramite_editar', { 'id': entity.Id }) }}"><i class="icon-edit"></i> Editar</a>
                <a class="btn btn-mini" href="{{ path('yacare_tramites_tramiterequisito_listar', { 'tramite_id': entity.Id }) }}"><i class="icon-check"></i> Ver requisitos</a></td>
            <td>{{ entity.Nombre }}</td>
            <td>{{ entity.Url }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% include 'YacareBaseBundle::paginar.html.twig' %}

<a href="{{ path('yacare_tramites_tramite_editar_1', arrastre) }}" class="btn"><i class="icon-plus"></i> Nuevo trámite</a>
{% endblock %}
