{% extends 'YacareBaseBundle::layout.html.twig' %}

{% block pagina_titulo %}Trámite Nº {{ entity.id }}<small> {{ entity }}</small>{% endblock %}

{% block tramite_encab %}

<div class="row">
    <div class="col-lg-8">
        <p>El trámite fue presentado el {{ entity.createdAt|localizeddate('full', 'short')|lower }}
            ({{ entity.createdAt|time_ago }}) y está actualmente en estado <strong>{{ entity.EstadoNombre|lower }}</strong>
            {% if entity.Estado == 100 and entity.FechaTerminado %}
                . El trámite finalizó el día {{ entity.FechaTerminado|localizeddate('full', 'short')|lower }}.
            {% else %}
                con un porcentaje completado de {{ entity.PorcentajeCompleto }}%.
            {% endif %}
        </p>
    </div>
    <div class="col-lg-4">
        {% if entity.RequisitosFaltantesCantidad > 0 %}
            <p class="text-danger"><strong>Faltan presentar {{ entity.RequisitosFaltantesCantidad }} requisitos</strong>, de un total de {{ entity.RequisitosObligatoriosCantidad }} obligatorios.</p>
            {% block tramite_encab_progreso %}
            <div class="progress hidden-print">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ entity.PorcentajeCompleto }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ entity.PorcentajeCompleto }}%;">
                    <span class="sr-only">{{ entity.PorcentajeCompleto }}% completo</span>
                </div>
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ 100 - entity.PorcentajeCompleto }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ 100 - entity.PorcentajeCompleto }}%;">
                </div>
            </div>
            {% endblock %}
        {% elseif entity.EstaListoParaTerminar %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <i class="text-muted fa fa-flag-checkered fa-5x pull-left"></i>
                    <p><strong>¡Listo!</strong> El trámite está listo para finalizar.</p>
                    <a class="btn btn-success hidden-print" href="{{ path(baseroute ~ '_terminar', arrastre|merge({ 'id': entity.id })) }}"><i class="fa fa-play"></i> Terminar ahora</a>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block tramite_requisitos %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>Requisito</th>
            <th>Estado</th>
            <th>Fecha aprobado</th>
        </tr>
    </thead>
    <tbody>
{% for EstadoRequisito in entity.EstadosRequisitos %}
    <tr{% if EstadoRequisito.EsNecesario == 0 %} data-toggle="requisitos_ocultables"{%endif%}>
        <td>
            <div class="btn-group hidden-print">
                <a class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal" href="{{ path('yacare_tramites_estadorequisito_editar', { 'id': EstadoRequisito.Id }) }}"><i class="fa fa-folder-open"></i> Editar</a>
                <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a data-toggle="modal" data-target="#modal" href="{{ path('yacare_tramites_estadorequisito_editar', { 'id': EstadoRequisito.Id }) }}"><i class="fa fa-edit fa-fw"></i> Cambiar estado y observaciones</a></li>
                    {% if EstadoRequisito.Adjuntos|length %}
                    <li><a data-toggle="modal" data-target="#modal" href="{{ path('yacare_base_adjunto_listar', { 'tipo': 'Yacare\\TramitesBundle\\Entity\\EstadoRequisito', 'id': EstadoRequisito.Id }) }}"><i class="fa fa-clipboard fa-fw"></i> Ver archivos adjuntos 
                        <span class="badge">{{ EstadoRequisito.Adjuntos|length }}</span>
                    </a></li>
                    {% endif %}
                    <li><a data-toggle="modal" data-target="#modal" href="{{ path('yacare_tramites_estadorequisito_editar', { 'id': EstadoRequisito.Id }) }}"><i class="fa fa-paperclip fa-fw"></i> Adjuntar archivos</a></li>
                    <li><a data-toggle="modal" data-target="#modal" href="{{ path('yacare_tramites_estadorequisito_editar', { 'id': EstadoRequisito.Id }) }}"><i class="fa fa-check fa-fw"></i> Marcar como aprobado</a></li>
                    <li><a data-toggle="modal" data-target="#modal" href="{{ path('yacare_tramites_estadorequisito_editar', { 'id': EstadoRequisito.Id }) }}"><i class="fa fa-times fa-fw"></i> Marcar como rechazado</a></li>
                </ul>
            </div>

            {% if EstadoRequisito.AsociacionRequisito.Instancia == 'cop' %}
                <i class="fa fa-copy fa-fw"></i>
            {% elseif EstadoRequisito.AsociacionRequisito.Instancia == 'ori' %}
                <i class="fa fa-file fa-fw"></i>
            {% elseif EstadoRequisito.AsociacionRequisito.Instancia == 'cle' %}
                <i class="fa fa-clipboard fa-fw"></i>
            {% else %}
                <i class="fa fa-circle-o fa-fw"></i>
            {% endif %}

            {% if EstadoRequisito.EsNecesario == 0 %}<span style="text-decoration: line-through;">{% endif %}
            {{ EstadoRequisito.AsociacionRequisito }}
            {% if EstadoRequisito.EsNecesario == 0 %}
                </span><br /><small class="text text-muted">No corresponde, sólo se requiere si &quot;{{ EstadoRequisito.AsociacionRequisito.Condicion }}&quot;</small>
            {% endif %}
            {% if EstadoRequisito.EstadoRequisitoPadre %}
                <br /><small class="text text-muted">Requerido para {{ EstadoRequisito.EstadoRequisitoPadre.AsociacionRequisito.Requisito }}</small>
            {% endif %}
        </td>
        <td>
            {% if EstadoRequisito.AsociacionRequisito.Opcional %}<span class="label label-info">Opcional</span>{% endif %}
            {% if EstadoRequisito.Estado == 0 %}
                {% if EstadoRequisito.AsociacionRequisito.Opcional %}
                    <span class="label label-default">
                {% else %}
                    <span class="label label-warning">
                {%endif%}
            {% elseif EstadoRequisito.Estado >= 10 and EstadoRequisito.Estado < 20 %}
                    <span class="label label-danger">
            {% elseif EstadoRequisito.Estado == 100 %}
                    <span class="label label-success"><i class="fa fa-check"></i>
            {% else %}
                    <span class="label label-default">
            {% endif %}
            {{ EstadoRequisito.EstadoNombre }}</span>
        </td>
        <td>{{ EstadoRequisito.FechaAprobado|localizeddate('medium', 'none') }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}
    
{% block tramite_pie %}
<script>
    $(document).ready(function(){
        $('[data-toggle="requisitos_ocultables"]').hide();
    });
</script>

<a class="btn btn-primary hidden-print" href="{{ path(baseroute ~ '_listar') }}"><i class="fa fa-reply"></i> Volver al listado de trámites</a>

<button class="btn btn-default hidden-print" onclick="$('[data-toggle=requisitos_ocultables]').toggle(); return false;"><i class="fa fa-adjust"></i> Mostrar u ocultar otros requisitos</button>

{% endblock %}