{% extends 'TapirBaseBundle::layout.html.twig' %}

{% block pagina_titulo %}Requerimientos{% endblock %}

{% set filtro_encargado = app.request.query.get('filtro_encargado') %}
{% set filtro_estado = app.request.query.get('filtro_estado') %}

{% block pagina_contenido %}
{% if entities is empty %}
<div class="container-fluid"><div class="row">
	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center">
        <i class="fa fa-info-circle fa-4x text-info"></i>    
    </div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <p class="lead text text-info">No hay elementos para mostrar.</p>
        <p>No hay requerimientos para mostrar la en vista actual. Puede utilizar los filtros en la parte
		superior para cambiar lo que se muestra
		{% if filtro_estado or filtro_encargado %}
        o haga <a href="{{ path(baseroute ~ '_listar', arrastre|merge({ 'filtro_estado': null, 'filtro_encargado': null, 'page': null })) }}">
        	<i class="fa fa-eraser"></i> clic aquí para mostrar todo
        </a>
        {% endif %}
		.</a>
		<br />
		<br />
    </div>
</div></div>
{% else %}
<table class="table table-hoverselect">
	<thead>
		<tr>
			<th> </th>
			<th>Usuario</th>
			<th class="hidden-sm hidden-xs">Encargado</th>
			<th>Descripción</th>
			<th class="hidden-md hidden-sm hidden-xs">Estado</th>
			<th class="hidden-md hidden-sm hidden-xs">Antigüedad</th>
			<th>Última novedad</th>
	   </tr>
	</thead>
	<tbody>
		{% for entity in entities %}
		<tr data-toggle="ajax-link"
			href="{{ path(baseroute ~ '_ver', arrastre|merge({ 'id': entity.Id })) }}">
			<td>
			  {% if entity.Estado == 0 %}<i class="fa fa-asterisk fa-fw text-danger"></i>
			  {% elseif entity.Estado == 10 %}<i class="fa fa-play fa-fw text-success"></i>
			  {% elseif entity.Estado == 20 %}<i class="fa fa-clock-o fa-fw text-muted"></i>
			  {% elseif entity.Estado == 80 %}<i class="fa fa-times fa-fw text-muted"></i>
			  {% elseif entity.Estado == 90 %}<i class="fa fa-check fa-fw text-muted"></i>
			  {% elseif entity.Estado == 99 %}<i class="fa fa-flag-checkered fa-fw text-muted"></i>
			  {% else %}<i class="fa fa-fw"></i>
			  {% endif %}
			  {% if entity.Prioridad == 2 %}<i class="fa fa-exclamation-circle fa-fw text-warning" title="Importante"></i>
			  {% else %}<i class="fa fa-fw"></i>
			  {% endif %}
			  </td>
			<td>{{ entity.Usuario }}</td>
			<td class="hidden-sm hidden-xs">
				{% if entity.Encargado %}
			        {{ entity.Encargado }}
			    {% else %}
			    	<span class="text-danger"><i class="fa fa-warning"></i> ¡Sin encargado!</span> 
			    {% endif %}
			</td>
			<td>{{ entity.Notas|tapir_abreviar(60) }}</td>
			<td class="hidden-md hidden-sm hidden-xs">{{ entity.EstadoNombre }}</td>
			<td class="text-nowrap hidden-md hidden-sm hidden-xs">{{ entity.createdAt|tapir_hacetiempo }}</td>
			<td class="text-nowrap">{{ entity.updatedAt|tapir_hacetiempo }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endif %}
{% endblock %}



{% block pagina_acciones %}
<div class="btn-group" role="group">
{% if encargados is defined %}
<div class="btn-group">
	<button class="btn btn-sm btn-default dropdown-toggle" type="button"
		id="dropdownMenuEncargados" data-toggle="dropdown">
		<i class="fa fa-fw fa-filter text-{% if filtro_encargado %}primary{% else %}muted{% endif %}"></i>
		Encargado <span class="caret"></span>
	</button>
	<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuEncargados">
        <li role="presentation"><a data-toggle="ajax-link" role="menuitem"
			tabindex="-1"
			href="{{ path(baseroute ~ '_listar', arrastre|merge({ 'filtro_encargado': null, 'page': null })) }}">
			<i class="fa fa-fw{% if not filtro_encargado %} fa-check{% endif %}"></i>
			Todos</a></li>
		<li role="presentation"><a data-toggle="ajax-link" role="menuitem"
			tabindex="-1"
			href="{{ path(baseroute ~ '_listar', arrastre|merge({ 'filtro_encargado': -1, 'page': null })) }}">
			<i class="fa fa-fw{% if filtro_encargado and filtro_encargado == -1 %} fa-check{% endif %}"></i>
			Sin encargado</a></li>
		<li role="separator" class="divider"></li>
		{% for encargado in encargados %}
		<li role="presentation"><a data-toggle="ajax-link" role="menuitem"
			tabindex="-1"
			href="{{ path(baseroute ~ '_listar', arrastre|merge({ 'filtro_encargado': encargado.id, 'page': null })) }}">
			<i class="fa fa-fw{% if filtro_encargado and filtro_encargado == encargado.id %} fa-check{% endif %}"></i>
			{{ encargado }}</a></li>
        {% endfor %}
	</ul>
</div>
{% endif %}

<div class="btn-group">
	<button class="btn btn-sm btn-default dropdown-toggle" type="button"
		id="dropdownMenuEstados" data-toggle="dropdown">
		<i class="fa fa-fw fa-filter text-{% if filtro_estado %}primary{% else %}muted{% endif %}"></i>
		Estado <span class="caret"></span>
	</button>
	<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuEstados">
        <li role="presentation"><a data-toggle="ajax-link" role="menuitem"
			tabindex="-1"
			href="{{ path(baseroute ~ '_listar', arrastre|merge({ 'filtro_estado': null, 'page': null })) }}">
			<i class="fa fa-fw{% if not filtro_estado %} fa-check{% endif %}"></i>
			Todos</a></li>
		<li role="separator" class="divider"></li>
		<li role="presentation"><a data-toggle="ajax-link" role="menuitem"
			tabindex="-1"
			href="{{ path(baseroute ~ '_listar', arrastre|merge({ 'filtro_estado': -1, 'page': null })) }}">
			<i class="fa fa-fw{% if filtro_estado == -1 %} fa-check{% endif %}"></i>
			Pendientes</a></li>
		<li role="presentation"><a data-toggle="ajax-link" role="menuitem"
			tabindex="-1"
			href="{{ path(baseroute ~ '_listar', arrastre|merge({ 'filtro_estado': 80, 'page': null })) }}">
			<i class="fa fa-fw{% if filtro_estado == 80 %} fa-check{% endif %}"></i>
			Cancelados</a></li>
		<li role="presentation"><a data-toggle="ajax-link" role="menuitem"
			tabindex="-1"
			href="{{ path(baseroute ~ '_listar', arrastre|merge({ 'filtro_estado': 90, 'page': null })) }}">
			<i class="fa fa-fw{% if filtro_estado == 90 %} fa-check{% endif %}"></i>
			Terminados sin cerrar</a></li>
		<li role="presentation"><a data-toggle="ajax-link" role="menuitem"
			tabindex="-1"
			href="{{ path(baseroute ~ '_listar', arrastre|merge({ 'filtro_estado': 99, 'page': null })) }}">
			<i class="fa fa-fw{% if filtro_estado == 99 %} fa-check{% endif %}"></i>
			Cerrados</a></li>
	</ul>
</div>
	
{% if filtro_estado or filtro_encargado %}
<a class="btn btn-sm btn-default" href="{{ path(baseroute ~ '_listar', arrastre|merge({ 'filtro_estado': null, 'filtro_encargado': null, 'page': null })) }}">
	<i class="fa fa-fw fa-eraser text-success"></i>
</a>
{% endif %}

</div>
{% endblock pagina_acciones %}


{% block pagina_paginar %}{% include 'TapirBaseBundle::paginar.html.twig' %}{% endblock pagina_paginar %}
{% block pagina_buscar %}{% include 'TapirBaseBundle::buscar.html.twig' %}{% endblock pagina_buscar %}

{% block pagina_acciones2 %}
    <a data-toggle="ajax-link"
    	href="{{ path(baseroute ~ '_editar_1', arrastre) }}"
    	class="btn btn-default hidden-print"><i class="fa fa-plus"></i> Nuevo
    	requerimiento</a>
    {% if app.user and is_granted('ROLE_REQUERIMIENTOS_ADMINISTRADOR') %}
        <a data-toggle="ajax-link"
        	href="{{ path('yacare_requerimientos_categoria_listar', arrastre) }}"
        	class="btn btn-default hidden-print"><i class="fa fa-wrench"></i> Categorías</a>
    {% endif %}
{% endblock pagina_acciones2 %}
