{% extends 'TapirBaseBundle::layout.html.twig' %}

{% block pagina_titulo %}Requerimientos{% endblock %}

{% block pagina_contenido %}
{% if entities is empty %}
<div>
	<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<p><strong>No hay requerimientos.</strong></p>
		<p>No hay requerimientos para la vista actual. Puede utilizar los filtros en la parte de arriba
		para cambiar lo que se muestra.</p>
	</div>
</div>
{% else %}
<table class="table table-hoverselect">
	<thead>
		<tr>
			<th> </th>
			<th>Usuario</th>
			<th class="hidden-sm">Encargado</th>
			<th>Descripción</th>
			<th>Estado</th>
			<th>Antigüedad</th>
	   </tr>
	</thead>
	<tbody>
		{% for entity in entities %}
		<tr data-toggle="ajax-link"
			href="{{ path(baseroute ~ '_ver', arrastre|merge({ 'id': entity.Id })) }}">
			<td>
			  {% if entity.Estado == 0 %}<i class="fa fa-asterisk fa-fw text-danger"></i>
			  {% elseif entity.Estado == 10 %}<i class="fa fa-play fa-fw text-success"></i>
			  {% elseif entity.Estado == 20 %}<i class="fa fa-clock-o fa-fw text-muted"></i>
			  {% elseif entity.Estado == 80 %}<i class="fa fa-times fa-fw text-muted"></i>
			  {% elseif entity.Estado == 90 %}<i class="fa fa-check fa-fw text-muted"></i>
			  {% elseif entity.Estado == 99 %}<i class="fa fa-flag-checkered fa-fw text-muted"></i>
			  {% else %}<i class="fa fa-fw"></i>
			  {% endif %}
			  {% if entity.Prioridad == 2 %}<i class="fa fa-exclamation-circle fa-fw text-danger" title="Importante"></i>
			  {% else %}<i class="fa fa-fw"></i>
			  {% endif %}
			  </td>
			<td>{{ entity.Usuario }}</td>
			<td class="hidden-sm">{{ entity.Encargado }}</td>
			<td>{{ entity.Notas|tapir_abreviar(60) }}</td>
			<td>{{ entity.EstadoNombre }}</td>
			<td>{{ entity.createdAt|tapir_hacetiempo }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endif %}
{% endblock %}



{% block pagina_acciones %}
{% if encargados %}
    <div class="btn-group">
    	<button class="btn btn-sm btn-default dropdown-toggle" type="button"
    		id="dropdownMenuRelevamientos" data-toggle="dropdown">Encargado <span class="caret"></span>
    	</button>
    	<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuRelevamientos">
            <li role="presentation"><a data-toggle="ajax-link" role="menuitem"
    			tabindex="-1"
    			href="{{ path(baseroute ~ '_listar', arrastre|merge({ 'filtro_encargado': null, 'page': null })) }}">
    			Todos</a></li>
    		<li role="separator" class="divider"></li>
    		{% for encargado in encargados %}
    		<li role="presentation"><a data-toggle="ajax-link" role="menuitem"
    			tabindex="-1"
    			href="{{ path(baseroute ~ '_listar', arrastre|merge({ 'filtro_encargado': encargado.id, 'page': null })) }}">
    			{{ encargado }}</a></li>
            {% endfor %}
    	</ul>
    </div>
{% endif %}

<div class="btn-group">
	<button class="btn btn-sm btn-default dropdown-toggle" type="button"
		id="dropdownMenuRelevamientos" data-toggle="dropdown">Estado <span class="caret"></span>
	</button>
	<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuRelevamientos">
        <li role="presentation"><a data-toggle="ajax-link" role="menuitem"
			tabindex="-1"
			href="{{ path(baseroute ~ '_listar', arrastre|merge({ 'filtro_estado': null, 'page': null })) }}">
			Todos</a></li>
		<li role="separator" class="divider"></li>
		<li role="presentation"><a data-toggle="ajax-link" role="menuitem"
			tabindex="-1"
			href="{{ path(baseroute ~ '_listar', arrastre|merge({ 'filtro_estado': -1, 'page': null })) }}">
			Pendientes</a></li>
		<li role="presentation"><a data-toggle="ajax-link" role="menuitem"
			tabindex="-1"
			href="{{ path(baseroute ~ '_listar', arrastre|merge({ 'filtro_estado': -2, 'page': null })) }}">
			Terminados</a></li>
	</ul>
</div>

{% endblock pagina_acciones %}


{% block pagina_paginar %}{% include 'TapirBaseBundle::paginar.html.twig' %}{% endblock pagina_paginar %}
{% block pagina_buscar %}{% include 'TapirBaseBundle::buscar.html.twig' %}{% endblock pagina_buscar %}

{% block pagina_acciones2 %}
    <a data-toggle="ajax-link"
    	href="{{ path(baseroute ~ '_editar_1', arrastre) }}"
    	class="btn btn-default hidden-print"><i class="fa fa-plus"></i> Nuevo
    	requerimiento</a>
    {% if app.user and is_granted('ROLE_REQUERIMIENTOS_ADMINISTRADOR') %}
        <a data-toggle="ajax-link"
        	href="{{ path('yacare_requerimientos_categoria_listar', arrastre) }}"
        	class="btn btn-default hidden-print"><i class="fa fa-wrench"></i> Categorías</a>
    {% endif %}
{% endblock pagina_acciones2 %}