{% extends 'TapirBaseBundle:Default:ver.html.twig' %}

{% import 'TapirBaseBundle:Default:macros_bootstrap.html.twig' as bs %}

{% block pagina_titulo %}{% if entity.id %}{{ entity }}{% else %}Nuevo requerimiento{% endif %}{% endblock pagina_titulo %}

{% block pagina_contenido %}
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-8">
		  {% if entity.Prioridad == 2 %}<span class="label label-danger">Prioridad alta</span>{% endif %}
		  <div id="edit-inplace-notas" data-toggle="inplace-edit" class="inplace-edit-text" data-control="textarea"
		  		href="{{ path(baseroute ~ '_editarcampo', arrastre|merge({ 'id': entity.id, 'nombrecampo': 'Notas' })) }}">
		  		<p>{{ entity.Notas }}</p>
		  </div>
		  <p class="help-block text-right"><span class="small">Creado por {{ entity.UsuarioNombre }} el {{ entity.createdAt|tapir_fecha|lower }}
		  </span></p>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4"><div class="panel panel-default"><div class="panel-body">
		  <h3>{% if entity.Categoria %}{{ entity.Categoria }}
		      {% else %}Sin categoría <a class="btn btn-link btn-xs showonhover"
		      href="{{ path(baseroute ~ '_modificardato', arrastre|merge({'id': entity.id, 'campo_nombre': 'Categoria'})) }}"
		      data-toggle="modal" >
		      <i class="fa fa-edit"></i> Asignar </a>
		      {% endif %}
		  </h3>

		  Estado: <span class="pull-right">
              {% if entity.Estado == 0 %}<i class="fa fa-asterisk fa-fw text-muted"></i>
			  {% elseif entity.Estado == 10 %}<i class="fa fa-play fa-fw text-muted"></i>
			  {% elseif entity.Estado == 20 %}<i class="fa fa-clock-o fa-fw text-muted"></i>
			  {% elseif entity.Estado == 90 %}<i class="fa fa-check fa-fw text-muted"></i>
			  {% elseif entity.Estado == 99 %}<i class="fa fa-flag-checkered fa-fw text-muted"></i>
			  {% else %}<i class="fa fa-fw"></i>
			  {% endif %}

		      {{ entity.EstadoNombre }}</span><br />

		  Encargado: <span class="pull-right">{{ entity.Encargado }}</span><br />
		  Prioridad: <span class="pull-right">{{ entity.PrioridadNombre }}</span><br />
		</div></div></div>
	</div>
</div>

{% if is_granted('ROLE_REQUERIMIENTOS_ENCARGADO') or is_granted('ROLE_REQUERIMIENTOS_ADMINISTRADOR') %}
<div class="text-right">
    {% if entity.Encargado and entity.Encargado == app.user and not is_granted('ROLE_REQUERIMIENTOS_ADMINISTRADOR') %}
        <a class="btn btn-default" href="{{ path(baseroute ~ '_rechazar', arrastre|merge({ 'id': entity.id, 'hisapi': 0 })) }}"
        	data-toggle="modal"><i class="fa fa-hand-o-right"></i> Rechazar asignación</a>
    {% elseif entity.Estado < 90 and is_granted('ROLE_REQUERIMIENTOS_ADMINISTRADOR') %}
        {% if entity.Encargado %}
            <a class="btn btn-default" href="{{ path(baseroute ~ '_asignar', arrastre|merge({ 'id': entity.id })) }}"
            	data-toggle="ajax-link"><i class="fa fa-hand-o-left"></i> Reasignar</a>
        {% else %}
            <a class="btn btn-danger" href="{{ path(baseroute ~ '_asignar', arrastre|merge({ 'id': entity.id })) }}"
            	data-toggle="ajax-link"><i class="fa fa-hand-o-left"></i> Asignar</a>
        {% endif %}
    {% endif %}


    {% if entity.Estado == 0 %}
        {# Nuevo #}
        <a class="btn btn-default" href="{{ path(baseroute ~ '_cambiarestado', arrastre|merge({ 'id': entity.id, 'nuevoestado': 10, 'hisapi': 0 })) }}"
            data-toggle="ajax-link" ><i class="fa fa-play"></i> Iniciar</a>
        <a class="btn btn-default" href="{{ path(baseroute ~ '_cambiarestado', arrastre|merge({ 'id': entity.id, 'nuevoestado': 80, 'hisapi': 0 })) }}"
            data-toggle="ajax-link"><i class="fa fa-times"></i> Cancelar</a>
    {% endif %}
    {% if entity.Estado == 10 %}
        {# Iniciado #}
        <a class="btn btn-default" href="{{ path(baseroute ~ '_cambiarestado', arrastre|merge({ 'id': entity.id, 'nuevoestado': 20, 'hisapi': 0 })) }}" 
       data-toggle="ajax-link"  ><i class="fa fa-refresh"></i> Poner en espera</a>
        <a class="btn btn-default" href="{{ path(baseroute ~ '_cambiarestado', arrastre|merge({'id': entity.id, 'nuevoestado': 90, 'hisapi': 0 }))  }}"
        data-toggle="ajax-link" ><i class="fa fa-check"></i> Terminar</a>
    {% endif %}
    {% if entity.Estado == 20 %}
        {# En espera #}
        <a class="btn btn-default btn-warning"  href="{{ path(baseroute ~ '_cambiarestado', arrastre|merge({ 'id': entity.id, 'nuevoestado': 10, 'hisapi': 0 })) }}"
        data-toggle="ajax-link" ><i class="fa fa-play"></i> Continuar</a>
        <a class="btn btn-default"  href="{{ path(baseroute ~ '_cambiarestado', arrastre|merge({'id': entity.id, 'nuevoestado': 90, 'hisapi': 0 })) }}"
        data-toggle="ajax-link" ><i class="fa fa-check"></i> Terminar</a>
    {% endif %}
    {% if entity.Estado == 90 %}
        {# Terminado #}
        <a class="btn btn-success"  href="{{ path(baseroute ~ '_cambiarestado', arrastre|merge({ 'id': entity.id, 'nuevoestado': 99, 'hisapi': 0 })) }}"
        data-toggle="ajax-link" ><i class="fa fa-flag-checkered"></i> Cerrar y archivar</a>
    {% endif %}
    {% if entity.Estado == 99 and is_granted('ROLE_REQUERIMIENTOS_ADMINISTRADOR') %}
        {# Cerrado #}
        <a class="btn btn-default"  href="{{ path(baseroute ~ '_cambiarestado', arrastre|merge({ 'id': entity.id, 'nuevoestado': 10, 'hisapi': 0 })) }}"
        data-toggle="ajax-link" ><i class="fa fa-refresh"></i> Reabrir</a>
    {% endif %}
</div>
{% endif %}

<h2>Novedades</h2>
<div class="container-fluid">
{% if form_novedad is defined and app.user is defined %}
{{ form_start(form_novedad, { 'action': path('yacare_requerimientos_novedad_publicar'), 'method': 'POST', 
    'attr': { 'id': 'form_novedad', 'data-toggle': 'ajax-form', 'data-target': '#nuevocomentario' } }) }}
    <div class="row">
        <div class="col-xs-2 text-center">
        	<i class="fa fa-comment fa-2x text-left text-info"></i>
        	<br />
        	<small>{{ app.user.NombreAmigableCorto }}</small>
        </div>
        <div class="col-xs-10" id="nuevocomentario">
            {{ form_errors(form_novedad) }}
            {{ form_widget(form_novedad._token) }}
            {{ form_widget(form_novedad.Notas, { 'attr': { 'placeholder': 'Publicar una novedad...', 'autofocus': 'autofocus' } }) }}
            {{ form_rest(form_novedad) }}
            <button type="submit" data-toggle="ajax-link" class="btn btn-xs btn-default pull-right"><i class="fa fa-comment-o"></i> Publicar</button>
        </div>
    </div>
    <script>
        $('#yacare_requerimientosbundle_novedadtype_Notas').keypress(function (e) {
            if (e.which === 13) {
                e.preventDefault();
                $('form#form_novedad').submit();
                return false;
            }
        });

        //$('#container').scroll($('#container').height);
        //$('#yacare_requerimientosbundle_novedadtype_Notas').focus();
    </script>
    {{ form_end(form_novedad) }}
{% endif %}

{% if entity.Novedades|length == 0 %}
    <p>Aun no hay novedades. {% if form_novedad is defined %}Puede ser el primero en agregar una.{% endif %}</p>
{% else %}
	{% set ultimanovedad = false %}
    {% for novedad in entity.Novedades|reverse %}
    	{% if ultimanovedad == false or ultimanovedad.Usuario != novedad.Usuario %}
    	{% if ultimanovedad != false %}</div></div>{% endif %}
        <hr />
        <div class="row">
            <div class="col-xs-2 text-center">
            	<i class="fa fa-comment-o fa-2x text-muted" title="{{ novedad.Usuario }}"></i><br />
            	<small title="{{ novedad.Usuario }}">{{ novedad.Usuario.NombreAmigableCorto }}</small></div>
            <div class="col-xs-10">
        {% endif %}
        <p>{% if novedad.Automatica == 0%}<i class="fa fa-comment-o text-info fa-flip-horizontal"></i> <strong>{% endif %}
            {{ novedad.Notas }}
            <small class="text-muted" data-toggle="tooltip" data-placement="bottom" title="{{ novedad.createdAt|tapir_fecha }}"> ({{ novedad.createdAt|tapir_hacetiempo }})</small>
        {% if novedad.Automatica == 0%}</strong>{% endif %}</p>
        {% set ultimanovedad = novedad %}
    {% endfor %}
    </div></div>
{% endif %}

    &nbsp;
</div>
{% endblock pagina_contenido %}

{% block pagina_acciones %}
    <a href="{{ path(baseroute ~ '_listar', arrastre) }}" class="btn btn-link"><i class="fa fa-list"></i> Listado</a>
{% endblock pagina_acciones %}

{% block pagina_acciones2 %}

{% endblock pagina_acciones2 %}
