{% extends 'YacareBaseBundle:Default:buscar.html.twig' %}

{% block pagina_titulo %}Buscar comercio{% endblock %}

{% block pagina_contenido %}
<div id="resultadosbuscar">
    <div class="input-group">
        <input class="form-control" size="50" maxlength="50" autocomplete="off" autofocus
           onkeydown="if (event.keyCode === 13) { $('#filtro_buscar_buscar').click(); return false; }" type="text"
           id="filtro_buscar" name="filtro_buscar" value="{{ filtro_buscar }}" placeholder="Buscar..." />
        <span class="input-group-btn"><button onclick="buscarTexto($('#filtro_buscar').val()); return false;" type="button"
            class="btn btn-primary" id="filtro_buscar_buscar"><i class="fa fa-search"></i> Buscar</button></span>
    </div>

{% if entities is defined and entities|length > 0 %}
&nbsp;
<table class="table table-condensed table-hoverselect">
	<tbody>
		{% for entity in entities %}
		<tr
			onclick="seleccionarItem('{{ entity.id }}', '{{ entity.Nombre|escape('js') }}'); return false;">
			<td><i class="fa fa-angle-right"></i></td>
			<td><strong style="white-space: nowrap;">{{ entity.Nombre }}</strong><br />
				<span class="text-muted"><small>de {{ entity.Titular }}</small></span></td>
			<td><small class="text-muted">{{ entity.Local }}</small></td>
			<td><small class="text-muted">{{ entity.ActividadPrincipal }}</small></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
    <p class="lead">Escriba un texto de búsqueda.</p>
{% endif %}
    
{% endblock %}

{% block pagina_fin %}
	{{ parent() }}
</div>
{% endblock pagina_fin %}
