{% extends 'TapirBaseBundle:Default:listar.html.twig' %}

{% block pagina_titulo %}Comercios{% endblock %}

{% block pagina_contenido %}
<table class="table table-hoverselect">
	<thead>
		<tr>
			<th>#</th>
			<th>Exped.</th>
			<th>Nombre</th>
			<th class="hidden-xs">Local</th>
			<th class="hidden-sm hidden-xs">Actividad</th>
		</tr>
	</thead>
	<tbody>
		{% for entity in entities %}
		<tr data-toggle="ajax-link" href="{{ path(baseroute ~ '_ver', { 'id': entity.Id }) }}">
			<td>{{ entity.id }}</td>
			<td>{{ entity.ExpedienteNumero }}</td>
			<td>{{ entity.Nombre }}
			    {% if entity.Estado == 1 %} <span class="label label-warning">{{ entity.EstadoNombre }}</span>
			    {% elseif entity.Estado == 0 or entity.Estado == 91 %} <span
			    	class="label label-danger">{{ entity.EstadoNombre }}</span>
			    {% elseif entity.Estado != 100 %} <span class="label label-default">{{ entity.EstadoNombre }}</span>
			    {% endif %}
			</td>
			<td class="hidden-xs">{{ entity.Local }}</td>
			<td class="hidden-sm hidden-xs">{{ entity.ActividadPrincipal }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}

{% block pagina_paginar %}{% include 'TapirBaseBundle::paginar.html.twig' %}{% endblock pagina_paginar %}
{% block pagina_buscar %}{% include 'TapirBaseBundle::buscar.html.twig' %}{% endblock pagina_buscar %}

{% block pagina_acciones2 %}
<a data-toggle="ajax-link"
	href="{{ path('yacare_comercio_tramitehabilitacioncomercial_editar_1') }}"
	class="btn btn-primary"><i class="fa fa-play"></i> Iniciar trámite de
	habilitación</a>
<a data-toggle="ajax-link" href="{{ path(baseroute ~ '_altamanual') }}"
	class="btn btn-default"><i class="fa fa-plus"></i> Alta manual</a>
{% endblock %}
