{% block pagina_contenido %}

<table class="table table-condensed table-hoverselect">
    <tbody>
    {% for entity in entities %}
        <tr onclick="seleccionarItem('{{ entity.id }}', '{{ entity.NombreVisible|escape('js') }}'); return false;">
            <td><span style="white-space: nowrap;">{{ entity.Apellido ~ ', ' ~ entity.Nombre }}</span></td>
            <td><small class="text-muted">{{ entity.DocumentoNumero }}</small></td>
            <td><small class="text-muted">{% for Nombre in entity.Grupos %}<span
                class="label label-info">{{ Nombre }}</span>&nbsp;{% endfor %}</small></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if entities|length == 1 %}
    {% set entity = entities|first %}
<script type="text/javascript">
    $('#filtro_buscar').prop('disabled', true);;
    setTimeout(function() {
    	seleccionarItem('{{ entity.id }}', '{{ entity.NombreVisible|escape("js") }}');
    }, 3500);
</script>
<hr />
<div class="row">
    <div class="col-xs-2"><i class="fa fa-gift fa-4x text-success pull-right"></i></div>
    <div class="col-xs-8">
        <h1>Selección automática</h1>
        <p>Se va a seleccionar automáticamente <strong>{{ entity }}</strong>, porque es el único elemento que coincide
        con la búsqueda.</p>
    </div>
</div>
{% endif %}

{% endblock %}