{% extends 'TapirBaseBundle::layout.html.twig' %}

{% block pagina_titulo %}Consultar persona{% endblock %}

{% block pagina_inicio %}
<form class="form-horizontal" method="post" {{ form_enctype(edit_form) }}>
{% endblock %}

{% block pagina_contenido %}
    {{ form_errors(edit_form) }}
    {{ form_widget(edit_form) }}
    
    {% if entities is defined %}
        {% if entities|length == 1 %}
        {% set entity = entities[0] %}
        

<div class="container-fluid">
    <h2>{{ entity }}</h2>
    <div class="row">
    	<div class="col-xs-4 text-right text-muted">CIUT</div>
    	<div class="col-xs-8">{{ entity.CuiltFormateado }} &nbsp;<a href="#"><i class="fa fa-edit"></i></a></div>
    </div>  
    <div class="row">
    	<div class="col-xs-4 text-right text-muted"><i class="fa fa-home text-muted"></i>&nbsp;Domicilio</div>
    	<div class="col-xs-8">{{ entity.domicilio }} &nbsp;<a href="#"><i class="fa fa-edit"></i></a></div>
    </div>
    <div class="row">
    	<div class="col-xs-4 text-right text-muted"><i class="fa fa-phone text-muted"></i>&nbsp;Teléfono</div>
    	<div class="col-xs-8">{{ entity.TelefonoNumero }} &nbsp;<a href="#"><i class="fa fa-edit"></i></a></div>
    </div>
    <div class="row">
    	<div class="col-xs-4 text-right text-muted"><i class="fa fa-envelope-o text-muted"></i>&nbsp;E-mail</div>
    	<div class="col-xs-8">{{ entity.Email }} &nbsp;<a href="#"><i class="fa fa-edit"></i></a></div>
    </div>
	<div class="row">
		<div class="col-xs-4 text-right text-muted">Nacionalidad</div>
		<div class="col-xs-8">{{ entity.Pais }}</div>
	</div>
	<div class="row">
		<div class="col-xs-4 text-right text-muted">Fecha de nacimiento</div>
		<div class="col-xs-8">{{ entity.FechaNacimiento|tapir_fecha('medium', 'none') }}</div>
	</div>
	<div class="row">
		<div class="col-xs-4 text-right text-muted">Genero</div>
		<div class="col-xs-8">{{ entity.GeneroNombre }}</div>
	</div>
    <div class="row">
    	<div class="col-xs-4 text-right text-muted">Grupos</div>
    	<div class="col-xs-8">{% for Grupo in entity.Grupos %}<span class="label label-info">{{ Grupo }}</span> {% endfor %}
		     {% if entity.PuedeAcceder %}
		          <span class="label label-success">{{ entity.Username }}</span> {% for Rol in entity.UsuarioRoles %}<span class="label label-warning">{{ Rol }}</span> {% endfor %}
		     {% endif %}</div>
    </div>
</div>

        {% else %}
<table class="table table-hoverselect">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Documento</th>
            <th>Grupos</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr data-toggle="ajax-link" href="{{ path(baseroute ~ '_ver', arrastre|merge({ 'id': entity.id })) }}">
            <td>{{ entity.id }}</td>
            <td>{{ entity.Apellido ~ ', ' ~ entity.Nombre }}</td>
            <td>{{ entity.DocumentoNumero }}</td>
            <td>{% for Nombre in entity.Grupos %}<span class="label label-info">{{ Nombre }}</span>&nbsp;{% endfor %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    {% endif %}
{% endif %}
    
{% endblock %}

{% block pagina_acciones2 %}
    {% if entities is defined and entities|length > 1 and entities[0].DocumentoNumero == entities[1].DocumentoNumero %}
        {# Dos personas con el mismo número de documento. Ofrezco duplicarlas #}
        <a data-toggle="ajax-link" href="{{ path(baseroute ~ '_desduplicar', { 'id1': entities[0].id, 'id2': entities[1].id }) }}" class="btn btn-primary"><i class="fa fa-copy"></i> Combinar {{ entities[0].id }} y {{ entities[1].id }}</a>
    {% endif %}
{% endblock %}

{% block pagina_acciones %}
<button type="submit" value="Buscar" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
{% endblock %}

{% block pagina_fin %}
</form>
{% endblock %}