<h1>Persona list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Razonsocial</th>
            <th>Tipodocumento</th>
            <th>Numerodocumento</th>
            <th>Calle</th>
            <th>Numerocalle</th>
            <th>Piso</th>
            <th>Puerta</th>
            <th>Numerotelefono</th>
            <th>Email</th>
            <th>Personajuridica</th>
            <th>Codigopostal</th>
            <th>Fechanacimiento</th>
            <th>Genero</th>
            <th>Nacionalidad</th>
            <th>Version</th>
            <th>Timestamp</th>
            <th>Createdat</th>
            <th>Updatedat</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('admin_persona_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.Apellido }}</td>
            <td>{{ entity.Nombre }}</td>
            <td>{{ entity.RazonSocial }}</td>
            <td>{{ entity.TipoDocumento }}</td>
            <td>{{ entity.NumeroDocumento }}</td>
            <td>{{ entity.Calle }}</td>
            <td>{{ entity.NumeroCalle }}</td>
            <td>{{ entity.Piso }}</td>
            <td>{{ entity.Puerta }}</td>
            <td>{{ entity.NumeroTelefono }}</td>
            <td>{{ entity.Email }}</td>
            <td>{{ entity.PersonaJuridica }}</td>
            <td>{{ entity.CodigoPostal }}</td>
            <td>{% if entity.FechaNacimiento %}{{ entity.FechaNacimiento|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.Genero }}</td>
            <td>{{ entity.Nacionalidad }}</td>
            <td>{{ entity.Version }}</td>
            <td>{% if entity.TimeStamp %}{{ entity.TimeStamp|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.CreatedAt %}{{ entity.CreatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.UpdatedAt %}{{ entity.UpdatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_persona_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_persona_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('admin_persona_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
