{% extends 'YacareBaseBundle::layout.html.twig' %}

{% block title %}Persona{% endblock %}

{% block content_header '' %}

{% block content %}

{% include 'YacareBaseBundle::buscar.html.twig' %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre y apellido</th>
            <th>Documento</th>
            <th>Grupos</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><i class="icon-user"></i> <a href="{{ path('yacare_base_persona_editar', { 'id': entity.Id }) }}">{{ entity.Apellido ~ ', ' ~ entity.Nombre }}</a></td>
            <td>{{ entity.DocumentoNumero }}</td>
            <td>{% for Nombre in entity.Grupos %}<span class="label label-info">{{ Nombre }}</span>{% endfor %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(entities) }}
</div>

<a href="{{ path('yacare_base_persona_editar_1') }}" class="btn"><i class="icon-plus"></i> Alta de nueva persona</a>
{% endblock %}