{% extends 'TapirTemplateBundle::layout.html.twig' %}

{% block pagina_titulo %}Solicitud de modificación{% endblock %}

{% block pagina_inicio %}
    {% set edit_form_action = path(baseroute ~ '_modificardato', arrastre|merge({ 'id': entity.id, 'campo_nombre': campo_nombre })) %}
    {{ form_start(edit_form, {
            'action': path(edit_form_action, arrastre|merge({ 'id': entity.id, 'hisapi': 0, 'form': app.request.query.get('form') })),
            'method': 'POST',
            'attr': { 'id': edit_form.vars.id }
        }) }}
{% endblock %}

{% block pagina_contenido %}
    {{ form_errors(edit_form) }}
    {{ form_widget(edit_form) }}
    {{ form_rest(edit_form) }}
{% endblock pagina_contenido %}

{% block pagina_acciones %}
    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Guardar</button>
{% endblock pagina_acciones %}

{% block pagina_fin %}
    {{ form_end(edit_form) }}
{% endblock %}