<h1>Persona</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Apellido</th>
            <td>{{ entity.Apellido }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ entity.Nombre }}</td>
        </tr>
        <tr>
            <th>Razonsocial</th>
            <td>{{ entity.RazonSocial }}</td>
        </tr>
        <tr>
            <th>Tipodocumento</th>
            <td>{{ entity.TipoDocumento }}</td>
        </tr>
        <tr>
            <th>Numerodocumento</th>
            <td>{{ entity.NumeroDocumento }}</td>
        </tr>
        <tr>
            <th>Calle</th>
            <td>{{ entity.Calle }}</td>
        </tr>
        <tr>
            <th>Numerocalle</th>
            <td>{{ entity.NumeroCalle }}</td>
        </tr>
        <tr>
            <th>Piso</th>
            <td>{{ entity.Piso }}</td>
        </tr>
        <tr>
            <th>Puerta</th>
            <td>{{ entity.Puerta }}</td>
        </tr>
        <tr>
            <th>Numerotelefono</th>
            <td>{{ entity.NumeroTelefono }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ entity.Email }}</td>
        </tr>
        <tr>
            <th>Personajuridica</th>
            <td>{{ entity.PersonaJuridica }}</td>
        </tr>
        <tr>
            <th>Codigopostal</th>
            <td>{{ entity.CodigoPostal }}</td>
        </tr>
        <tr>
            <th>Fechanacimiento</th>
            <td>{{ entity.FechaNacimiento|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Genero</th>
            <td>{{ entity.Genero }}</td>
        </tr>
        <tr>
            <th>Nacionalidad</th>
            <td>{{ entity.Nacionalidad }}</td>
        </tr>
        <tr>
            <th>Version</th>
            <td>{{ entity.Version }}</td>
        </tr>
        <tr>
            <th>Timestamp</th>
            <td>{{ entity.TimeStamp|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Createdat</th>
            <td>{{ entity.CreatedAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Updatedat</th>
            <td>{{ entity.UpdatedAt|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('yacare_base_persona_index') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('yacare_base_persona_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('yacare_base_persona_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
