{% extends 'TapirBaseBundle::layout.html.twig' %}

{% block pagina_titulo %}{{ entity }}{% endblock %}

{% block pagina_contenido %}

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-8 col-xs-12">

			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-4 text-right text-muted">Documento</div>
					<div class="col-xs-8">
						{{ entity.documentoNumero }}
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4 text-right text-muted">
						<i class="fa fa-home text-muted"></i>&nbsp;Domicilio
					</div>
					<div class="col-xs-8">
						{{ entity.domicilio }}
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4 text-right text-muted">
						<i class="fa fa-phone text-muted"></i>&nbsp;Teléfono
					</div>
					<div class="col-xs-8">
						{{ entity.TelefonoNumero }}
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4 text-right text-muted">
						<i class="fa fa-envelope-o text-muted"></i>&nbsp;E-mail
					</div>
					<div class="col-xs-8">
						{{ entity.Email }}
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4 hidden-xs">
    		<i class="fa fa-user fa-4x text-muted pull-right"></i>
		</div>
	</div>

	<hr />
	
	<div class="row">
		<div class="col-sm-6">
		     {% for Grupo in entity.Grupos %}<span class="label label-info">{{ Grupo }}</span> {% endfor %}
		     {% if entity.PuedeAcceder %}
		          <span class="label label-success">{{ entity.Username }}</span> {% for Rol in entity.UsuarioRoles %}<span class="label label-warning">{{ Rol }}</span> {% endfor %}
		     {% endif %}
		</div>
		<div class="col-sm-6 panel panel-default">
			<div class="row">
				<div class="col-xs-6 text-right text-muted">Nacionalidad</div>
				<div class="col-xs-6">{{ entity.Pais }}</div>
			</div>
			<div class="row">
				<div class="col-xs-6 text-right text-muted">Fecha de nacimiento</div>
				<div class="col-xs-6">{{ entity.FechaNacimiento|tapir_fecha('medium', 'none') }}</div>
			</div>
			<div class="row">
				<div class="col-xs-6 text-right text-muted">Genero</div>
				<div class="col-xs-6">{{ entity.GeneroNombre }}</div>
			</div>
		</div>
	</div>

	<hr />
	<div class="row">
		<div class="col-md-12">
			{% if is_expr_granted("hasAnyRole('ROLE_IDDQD')") %}
		    <a href="{{ path('yacare_base_persona_editar', arrastre|merge({ 'id': entity.id })) }}" class="btn btn-link">Editar</a>
			<a href="{{ path('usuario_editarperfil', arrastre|merge({ 'id': entity.id })) }}" class="btn btn-link">Perfil</a>
			{% endif %}
		</div>
	</div>

</div>

{% endblock pagina_contenido %}

{% block pagina_pie %}
{% endblock pagina_pie %}
