{% extends 'YacareBaseBundle:Default:listar.html.twig' %}

{% block title %}Local{% endblock %}

{% block content_header '' %}

{% block content %}

<legend>Locales comerciales</legend>
{% include 'YacareBaseBundle::buscar.html.twig' %}

<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th>Propietario</th>
            <th>Tipo</th>
            <th>Domicilio</th>
            <th>Titular</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a class="btn btn-default btn-xs" href="{{ path(baseroute ~ '_editar', { 'id': entity.Id }) }}"><i class="fa fa-edit"></i> Editar</a></td>
            <td>{{ entity.Propietario }}</td>
            <td>{{ entity.Tipo }}</td>
            <td>{{ entity.Partida.Domicilio }}</td>
            <td>{{ entity.Partida.Titular }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% include 'YacareBaseBundle::paginar.html.twig' %}

<a href="{{ path(baseroute ~ '_editar_1') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Nuevo local comercial</a>

{% endblock %}
