{% extends 'YacareBaseBundle:Default:listar.html.twig' %}

{% block title %}Local{% endblock %}

{% block content_header '' %}

{% block content %}

{% include 'YacareBaseBundle::buscar.html.twig' %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Propietario</th> 
            <th>Domicilio</th>
            <th>Tipo</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path(baseroute ~ '_editar', { 'id': entity.Id }) }}"><i class="icon-edit"></i></a> {{ entity.Propietario }}</td>
            <td>{{ entity.Domicilio }}</td>
            <td>{{ entity.TipoLugar }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% include 'YacareBaseBundle::paginar.html.twig' %}

<a href="{{ path(baseroute ~ '_editar_1') }}" class="btn"><i class="icon-plus"></i> Nuevo local comercial</a>
{% endblock %}
