{% extends 'TapirTemplateBundle::empty.html.twig' %}

{% block pagina_titulo %}{% endblock %}

{% block pagina_contenido %}
    {% if entity is defined %}
        {{ entity.Notas }}<br />
        <small class="text-muted">{{ entity.createdAt|tapir_hacetiempo }}</small>
    {% else %}
        {{ form_start(form_novedad) }}
        <div class="alert alert-danger">
        	No se pudo publicar el comentario. {% if errores is defined %}{% for error in errores %}{{ error.message }}{% endfor %}{% endif %}
        </div>
        {{ form_errors(form_novedad) }}
        {{ form_end(form_novedad) }}
    {% endif %}
{% endblock %}
