{% extends 'YacareTramitesBundle:Tramite:listar.html.twig' %}

{% block pagina_titulo %}Matricula{% endblock %}

{% block pagina_contenido %}
{% include 'TapirBaseBundle::buscar.html.twig' %}

<table class="table table-hover">
    <thead>
        <tr>
            <th>id</th>
            <th>Nombre</th>
            <th>Profesion</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td class="hidden-sm hidden-xs">{{ entity.Nombre}}</td>
            <td class="hidden-sm hidden-xs">{{ entity.Profesion}}</td>
            <td class="hidden-sm hidden-xs">{{ entity.Estado }}</td>
            <td>{{ entity.FechaVencimiento|tapir_fecha('medium', 'none') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>


{% include 'TapirBaseBundle::paginar.html.twig' %}

<a data-toggle="ajax-link" href="{{ path(baseroute ~ '_editar_1', arrastre) }}" class="btn btn-primary hidden-print"><i class="fa fa-plus"></i> Nueva Matricula</a>
{% endblock %}