{% extends 'YacareBaseBundle::layout.html.twig' %}

{% block title %}Relevamientos - Resultados{% endblock %}

{% block content_header '' %}

{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Dirección</th>
            <th>SMP</th>
            <th>Incidencias</th>
            <th>Obs</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{% if entity.Imagen %}<a class="thumbnail" 
                                         style="background:url({{ path('yacare_inspeccion_relevamientoasignaciondetalle_imagen', { 'id': entity.Id, 'thumb': '32' }) }})"
                                         href="{{ path('yacare_inspeccion_relevamientoasignaciondetalle_imagen', { 'id': entity.Id }) }}"><i class="icon-picture"></i></a>{% endif %}{% if entity.Imagen %}<i class="icon-map-marker"></i> {% endif %}</td>
            <td>{{ entity.PartidaCalleNombre }} {{ entity.PartidaCalleNumero }}</td>
            <td>{{ entity.PartidaSeccion }}, {{ entity.PartidaMacizo }}, {{ entity.PartidaParcela }}</td>
            <td>{{ entity.Resultado1 }} {{ entity.Resultado2 }} {{ entity.Resultado3 }}</td>
            <td>{{ entity.ResultadoObs }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    //$('a.icono_imagen').colorbox({rel:'icono_imagen a', transition:"elastic", maxWidth:"95%", maxHeight:"95%"});
</script>

{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(entities) }}
</div>

<a href="{{ path('yacare_inspeccion_relevamiento_editar', { 'id': id }) }}" class="btn"><i class="icon icon-reply"></i> Volver al relevamiento</a>
{% endblock %}