{% extends 'YacareBaseBundle::layout.html.twig' %}

{% block title %}Dispositivos{% endblock %}

{% block content_header '' %}

{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Marca y modelo</th>
            <th>Tipo</th>
            <th>Encargado</th>
            <th>Serie</th>
            <th>Identificador</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('yacare_base_dispositivo_editar', { 'id': entity.Id }) }}">{{ entity.Marca }} {{ entity.Modelo }}</a></td>
            <td>{{ entity.Tipo }}</td>
            <td>{{ entity.Encargado | default('') }}</td>
            <td>{{ entity.NumeroSerie }}</td>
            <td>{{ entity.IdentificadorUnico }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<a href="{{ path('yacare_base_dispositivo_editar_1') }}" class="btn"><i class="icon-plus"></i> Crear nuevo dispositivo</a>
{% endblock %}