{% block pagina_contenido %}

<table class="table table-condensed table-hoverselect">
    <tbody>
    {% for entity in entities %}
        <tr onclick="seleccionarItem('{{ entity.id }}', '{{ entity.Nombre|escape('js') }}'); return false;">
            <td><i class="fa fa-angle-right"></i></td>
            <td>{{ entity.Numero }}</td>
            <td>{{ entity.Nombre  }}</td>
            <td><small class="text-muted">{{ entity.Titular }}</small></td>
            <td><small class="text-muted">{{ entity.Zona }}</small></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if not entities %}
    <div class="alert alert-warning">
        <p><i class="fa fa-warning fa-2x"></i> No se encontraron resultados.</p>
    </div>
{% endif %}

{% endblock %}