{% extends 'YacareBaseBundle::modal.html.twig' %}

{% block title %}Buscar partidas{% endblock %}

{% block content %}
{% set destcontrol = app.request.get('destcontrol') %}

{% include 'YacareCatastroBundle:Partida:buscarinicio.html.twig' %}

<div id="resultadosbuscar" class="form-inline">
    
</div>

<script>
    function seleccionarItem(a, b) {
        $('#{{ destcontrol }}').val(a + ': ' + b);
        $('#modal').modal('hide');
        $('#modal').html('(re)Cargando...');
    }
    
    function buscarNada() {
        $('#resultadosbuscar').html('<p><i class="fa fa-spinner fa-spin"></i> Buscando...</p>');
        
        var url = '{{ path(baseroute ~ '_buscarresultados') }}?filtro_partida=-1&reiniciar=1';
        $.get(url, function(data) {
            $('#resultadosbuscar').html(data);
            $('#filtro_buscar').focus();
        }).fail(function(a) {
            // Muestro un error
            $('#resultadosbuscar').html('<p>Error al cargar el contenido de la ventana desde ' + url + ', el error es: ' + a.status + '</p>');
        });
    }
    
    function buscarPartida(a) {
        $('#resultadosbuscar').html('<p><i class="fa fa-spinner fa-spin"></i> Buscando...</p>');
        
        var url = '{{ path(baseroute ~ '_buscarresultados') }}?filtro_partida=' + a;
        $.get(url, function(data) {
            $('#resultadosbuscar').html(data);
            $('#filtro_buscar').focus();
        }).fail(function(a) {
            // Muestro un error
            $('#resultadosbuscar').html('<p>Error al cargar el contenido de la ventana desde ' + url + ', el error es: ' + a.status + '</p>');
        });
    }
    
    function buscarCalleAltura(a, b) {
        $('#resultadosbuscar').html('<p><i class="fa fa-spinner fa-spin"></i> Buscando...</p>');
        
        seccion = a;

        var url = '{{ path(baseroute ~ '_buscarresultados') }}?filtro_calle=' + a+ '&filtro_calle_altura=' + b;
        $.get(url, function(data) {
            $('#resultadosbuscar').html(data);
            $('#filtro_buscar').focus();
        }).fail(function(a) {
            // Muestro un error
            $('#resultadosbuscar').html('<p>Error al cargar el contenido de la ventana desde ' + url + ', el error es: ' + a.status + '</p>');
        });
    }
    
    function buscarSeccionMacizo(a, b) {
        $('#resultadosbuscar').html('<p><i class="fa fa-spinner fa-spin"></i> Buscando...</p>');

        var url = '{{ path(baseroute ~ '_buscarresultados') }}?filtro_seccion=' + a + '&filtro_macizo=' + b;
        $.get(url, function(data) {
            $('#resultadosbuscar').html(data);
            $('#filtro_buscar').focus();
        }).fail(function(a) {
            // Muestro un error
            $('#resultadosbuscar').html('<p>Error al cargar el contenido de la ventana desde ' + url + ', el error es: ' + a.status + '</p>');
        });
    }
    
    $('#botonbuscar').click(function(e) {
        
    });
    
    $('#filtro_buscar').keyup(function(e) {
        if(e.keyCode == 13) {
            e.preventDefault();
            $('#botonbuscar').trigger('click');
        }
    });
    $('#filtro_partida').focus();
</script>
{% endblock %}

{% block form_actions %}
{% endblock %}