{% extends 'TapirBaseBundle:Default:listar.html.twig' %}

{% block pagina_titulo %}Partidas{% endblock %}

{% block pagina_contenido %}

{% if secciones %}
{% set filtro_seccion = app.request.query.get('filtro_seccion') %}
{% set filtro_macizo = app.request.query.get('filtro_macizo') %}
{% set filtro_partida = app.request.query.get('filtro_partida') %}
<div id="nav-search" class="nav-search">
    <div class="form-inline">
        <label>Nº de partida</label>
        <input class="form-control input-sm" type="text" size="5" maxlength="5" id="filtro_partida" name="filtro_partida" placeholder="todas" value="{{ filtro_partida }}" style="max-width: 64px" />
        {% if filtro_partida %}
        <button class="btn btn-default btn-sm" type="button" onClick="parent.location='{{ path(baseroute ~ '_listar') }}';">Todas</button>
        {% endif %}

        {% if not filtro_partida %}
            <label>Sección</label>
            <span class="btn-group">
                {% for seccion in secciones %}
                    {% if seccion.Seccion %}
                        <a style="min-width: 8px;" class="btn btn-default btn-sm" type="button" href="{{ path('yacare_catastro_partida_listar', { 'filtro_seccion': seccion.Seccion }) }}">{{ seccion.Seccion }}</a>
                    {% endif %}
                {% endfor %}
                {% if filtro_seccion %}
                    <a class="btn btn-default btn-sm" type="button" href="{{ path('yacare_catastro_partida_listar', arrastre|merge({ 'filtro_seccion': '' })) }}">Todas</a>
                {% endif %}
            </span>
            {% if filtro_seccion %}
                <label>Macizo</label>
                <input class="form-control input-sm" type="text" size="5" maxlength="5" id="filtro_macizo" name="filtro_macizo" placeholder="todos" value="{{ filtro_macizo }}" style="max-width: 64px" />
                {% if filtro_macizo %}
                <button class="btn btn-default btn-sm" type="button" onClick="parent.location='{{ path(baseroute ~ '_listar', arrastre|merge({ 'filtro_seccion': filtro_seccion })) }}&filtro_macizo='">Todos</button>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
</div>

<script>
$(document).ready(function() {
    $("#filtro_macizo").keyup(function (e) {
        if (e.which === 13) {
            e.preventDefault();
            parent.location='{{ path(baseroute ~ '_listar', { 'filtro_seccion': filtro_seccion }) }}&filtro_macizo=' + $("#filtro_macizo").val();
        }
    });
    $("#filtro_partida").keyup(function (e) {
        if (e.which === 13) {
            e.preventDefault();
            parent.location='{{ path(baseroute ~ '_listar') }}?filtro_partida=' + $("#filtro_partida").val();
        }
    });
});
</script>
{% endif %}

<table class="table table-hover">
    <thead>
        <tr>
            <th> </th>
            <th>Partida</th>
            <th>Detalle</th>
            <th>Titular</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a class="btn btn-default btn-xs hidden-print showonhover" href="#{{ entity.id }}" onClick="javascript:alert('Sólo puede editarse desde Sigemi.');"><i class="fa fa-edit"></i> Editar</a></td>
            <td>{{ entity.Numero }}</td>
            <td>{{ entity.Nombre }}</td>
            <td>{{ entity.Titular }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% include 'TapirBaseBundle::paginar.html.twig' %}

{% endblock %}
