{% extends 'YacareBaseBundle:Default:listar.html.twig' %}

{% block title %}Partidas{% endblock %}

{% block content_header '' %}

{% block content %}

{% if secciones %}
{% set filtro_seccion = app.request.query.get('filtro_seccion') %}
{% set filtro_macizo = app.request.query.get('filtro_macizo') %}
{% set filtro_partida = app.request.query.get('filtro_partida') %}
<div>
    <span class="form_horizontal_part">
        Nº de partida<br />
        <span class="input-append">
            <input class="input-small" type="text" size="5" maxlength="5" id="filtro_partida" name="filtro_partida" placeholder="todas" value="{{ filtro_partida }}" style="max-width: 64px" />
            {% if filtro_partida %}
            <button class="btn" type="button" onClick="parent.location='{{ path(baseroute ~ '_listar') }}';">Todas</button>
            {% endif %}
        </span>
    </span>

    
    {% if not filtro_partida %}
        <span class="form_horizontal_part">
            Sección<br />
            <span class="btn-group">
                {% for seccion in secciones %}
                    {% if seccion.Seccion %}
                        <a style="min-width: 8px;" class="btn" type="button" href="{{ path('yacare_catastro_partida_listar', { 'filtro_seccion': seccion.Seccion }) }}">{{ seccion.Seccion }}</a>
                    {% endif %}
                {% endfor %}
                {% if filtro_seccion %}
                    <a class="btn" type="button" href="{{ path('yacare_catastro_partida_listar', arrastre|merge({ 'filtro_seccion': '' })) }}">Todas</a>
                {% endif %}

            </span>
        </span>
        {% if filtro_seccion %}
            <span class="form_horizontal_part">
                Macizo<br />
                <span class="input-append">
                    <input class="input-small" type="text" size="5" maxlength="5" id="filtro_macizo" name="filtro_macizo" placeholder="todos" value="{{ filtro_macizo }}" style="max-width: 64px" />
                    {% if filtro_macizo %}
                    <button class="btn" type="button" onClick="parent.location='{{ path(baseroute ~ '_listar', arrastre|merge({ 'filtro_seccion': filtro_seccion })) }}&filtro_macizo='">Todos</button>
                    {% endif %}
                </span>
            </span>
        {% endif %}
    {% endif %}
</div>
<script>
$(document).ready(function() {
    $("#filtro_macizo").keyup(function (e) {
        if (e.which === 13) {
            e.preventDefault();
            parent.location='{{ path(baseroute ~ '_listar', { 'filtro_seccion': filtro_seccion }) }}&filtro_macizo=' + $("#filtro_macizo").val();
        }
    });
    $("#filtro_partida").keyup(function (e) {
        if (e.which === 13) {
            e.preventDefault();
            parent.location='{{ path(baseroute ~ '_listar') }}?filtro_partida=' + $("#filtro_partida").val();
        }
    });
});
</script>
{% endif %}

<table class="table">
    <thead>
        <tr>
            <th>Partida</th>
            <th>Detalle</th>
            <th>Domicilio</th>
            <th>Titular</th>
            <th>Zona</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.Numero }}</td>
            <td>{{ entity.Nombre }}</td>
            <td>{{ entity.Domicilio }}</td>
            <td>{{ entity.Titular }}</td>
            <td>{{ entity.Zona }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% include 'YacareBaseBundle::paginar.html.twig' %}

{% endblock %}
