{% extends 'YacareBaseBundle:Default:listar.html.twig' %}

{% block title %}Partidas{% endblock %}

{% block content_header '' %}

{% block content_listado %}
<table class="table table-striped">
    <thead>
        <tr>
            {# sorting of properties based on query components #}
            <th{% if entities.isSorted('a.Nombre') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Nombre', 'a.Nombre') }}</th>
            <th{% if entities.isSorted('a.Calle') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Calle', 'a.Calle') }}</th>
            <th{% if entities.isSorted('a.CalleNumero') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Número', 'a.CalleNumero') }}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><i class="icon-file"></i> <a href="{{ path('yacare_catastro_partida_editar', { 'id': entity.Id }) }}">{{ entity.Nombre }}</a></td>
            <td>{{ entity.Calle }}</td>
            <td>{{ entity.CalleNumero }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
