{% extends 'TapirBaseBundle::layout.html.twig' %}

{% block pagina_titulo %}Partida Nº {{ entity.Numero }}{% endblock %}

{% block pagina_contenido %}
<objeto>
	<renglon>
		<etiqueta>Sección</etiqueta>
		<valor>{{ entity.Seccion }}</valor>
	</renglon>
	<renglon>
		<etiqueta>Macizo</etiqueta>
		<valor>{{ entity.Macizo }}</valor>
	</renglon>
	<renglon>
		<etiqueta>Parcela</etiqueta>
		<valor>{{ entity.Parcela }}</valor>
	</renglon>
	<renglon>
		<etiqueta>Unidad funcional</etiqueta>
		<valor>{{ entity.UnidadFuncional }}</valor>
	</renglon>
</objeto>

{% endblock %}

{% block pagina_acciones2 %}
    {{ parent() }}
    <button data-dismiss="modal" class="btn btn-default hidden-print"><i class="fa fa-reply"></i> Volver</button>
{% endblock %}
