{% extends 'YacareBaseBundle::layout.html.twig' %}

{% block pagina_titulo %}Veterinario{% endblock %}

{% block pagina_contenido %}

<form class="form-horizontal" action="{{ path('yacare_zoonosis_veterinario_guardar', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
	<legend>{% if entity.id %} {{ entity.Veterinario }} {% else %} Nuevo veterinario{% endif %}</legend>
	{{ form_widget(edit_form) }}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary"><i class="fa fa-white icon-ok"></i> Guardar</button>
		<a class="btn btn-default" href="{{ path('yacare_zoonosis_veterinario_listar') }}">Cancelar</a>
    </div>
</form>

{% if entity.id %}
<a class="btn btn-danger" href="{{ path('yacare_zoonosis_veterinario_eliminar', { 'id': entity.id }) }}"><i class="fa fa-trash-o"></i> Eliminar veterinario</a>
{% endif %}

{% endblock %}