
{% extends 'YacareBaseBundle::layout.html.twig' %}

{% block title %}Asignación{% endblock %}

{% block content %}

{% form_theme edit_form 'YacareBaseBundle:Form:form_div_layout.html.twig' %}

<form class="form-horizontal" action="{{ path('yacare_inspeccion_relevamientoasignacion_guardar', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
	<legend>{% if entity.id %} {{ entity.Nombre }} {% else %} Nueva asignación {% endif %}</legend>
	{{ form_widget(edit_form) }}
    <div class="form-actions">
        <a class="btn" href="{{ path('yacare_inspeccion_relevamientoasignacion_listar', { 'id': entity.id }) }}">Volver</a>
    </div>
    
</form>

{% if not create %}
<a class="btn btn-danger" href="{{ path('yacare_inspeccion_relevamientoasignacion_cancelar', { 'id': entity.id }) }}"><i class="icon-trash icon-white"></i> Eliminar asignación</a>
{% endif %}

{% endblock %}