
{% extends 'YacareBaseBundle::layout.html.twig' %}

{% block title %}Asignación{% endblock %}

{% block content %}

{% if entity %}
{%   set relevamiento = entity.Relevamiento.Id %}
{% else %}
{%   set relevamiento = app.request.query.get('relevamiento') %}
{% endif %}
<form class="form-horizontal" action="{{ path('yacare_inspeccion_relevamientoasignacion_guardar', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
	<legend>{% if entity.id %} {{ entity.Nombre }} {% else %} Nueva asignación {% endif %}</legend>
	{{ form_widget(edit_form) }}
    <div class="form-actions">
{% if false %}
        <button type="submit" class="btn btn-primary"><i class="fa fa-white icon-ok"></i> Guardar</button>
{% endif %}
        <a class="btn btn-default" href="{{ path('yacare_inspeccion_relevamientoasignacion_listarrelevamiento', { 'id': relevamiento }) }}"><i class="icon icon-reply"></i> Volver</a>
    </div>
</form>

{% if entity %}
<a class="btn btn-danger" href="{{ path('yacare_inspeccion_relevamientoasignacion_eliminar', { 'id': entity.id }) }}"><i class="fa fa-trash-o icon-white"></i> Eliminar asignación</a>
{% endif %}

{% endblock %}