{% extends 'YacareBaseBundle::layout.html.twig' %}

{% block title %}Relevamientos - Asignaciones{% endblock %}

{% block content_header '' %}

{% block content %}
{% if entities is empty %}
<div>
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong><p>No hay asignaciones.</p></strong>
    <p>Para realizar asignaciones utilice los botones de &quot;Asignar macizo&quot; o &quot;Asignar calle&quot;.
    </p>
</div>
</div>
{% else %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Asignación</th>
            <th>Encargado</th>
            <th>Resultados</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('yacare_inspeccion_relevamientoasignacionresultado_listarrelevamiento', { 'id': entity.Relevamiento.Id, 'filtro_asignacion': entity.id }) }}">{% if entity.Calle %}Calle {{ entity.Calle }}{% else %}Sección {{ entity.Seccion }}, macizo {{ entity.Macizo }}{% endif %}</a></td>
            <td>{{ entity.Encargado }}</td>
            <td>{% if entity.DetallesCantidad %}{{ entity.DetallesResultadosCantidad }} de {{ entity.DetallesCantidad }}{% else %}-{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(entities) }}
</div>

{% endif %}

<a class="btn btn-default" href="{{ path('yacare_inspeccion_relevamientoasignacion_asignarmacizo', { 'id': id }) }}"><i class="fa fa-map-marker"></i> Asignar macizo</a>
<a class="btn btn-default" href="{{ path('yacare_inspeccion_relevamientoasignacion_asignarcalle', { 'id': id }) }}"><i class="fa fa-map-marker"></i> Asignar calle</a>
&nbsp;
&nbsp;
<a href="{{ path('yacare_inspeccion_relevamientoasignacionresultado_listarrelevamiento', { 'id': id }) }}" class="btn btn-default"><i class="fa fa-list"></i> Ver resultados</a>
&nbsp;
<a href="{{ path('yacare_inspeccion_relevamiento_editar', { 'id': id }) }}" class="btn btn-default"><i class="fa fa-edit"></i> Editar relevamiento</a>
{% endblock %}