{% extends 'TapirBaseBundle::layout.html.twig' %}

{% block pagina_titulo %}Asignaciones{% endblock %}

{% set filtro_relevamiento = app.request.query.get('filtro_relevamiento') %}

{% block pagina_contenido %}
<div id="nav-search" class="nav-search">
    <div class="btn-group">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuRelevamientos" data-toggle="dropdown">
                Relevamientos <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuRelevamientos">
        {% for relev in relevamientos %}
            <li role="presentation"><a data-toggle="ajax-link" role="menuitem" tabindex="-1" href="{{ path(baseroute ~ '_listar', arrastre|merge({ 'filtro_relevamiento': relev.id })) }}">{{ relev.nombre }}</a></li>
        {% endfor %}
            </ul>
        </div>
        <div class="btn-group">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuArchivado" data-toggle="dropdown">
                <i class="fa fa-archive"></i> Archivo <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuArchivado">
                <li role="presentation"><a data-toggle="ajax-link" role="menuitem" tabindex="-1" href="{{ path(baseroute ~ '_listar', arrastre|merge({ 'filtro_archivado': 0 })) }}">Mostrar activos</a></li>
                <li role="presentation"><a data-toggle="ajax-link" role="menuitem" tabindex="-1" href="{{ path(baseroute ~ '_listar', arrastre|merge({ 'filtro_archivado': 1 })) }}">Mostrar archivados</a></li>
            </ul>
    </div>
</div>
{% if entities is empty %}
<div>
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong><p>No hay asignaciones.</p></strong>
    <p>Para realizar asignaciones utilice los botones de &quot;Asignar macizo&quot; o &quot;Asignar calle&quot;.
    </p>
</div>
</div>
{% else %}
<table class="table table-hover">
    <thead>
        <tr>
            <th> </th>
            <th>Asignación</th>
            <th>Encargado</th>
            <th>Resultados</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>
                <a data-toggle="ajax-link" class="btn btn-default btn-xs hidden-print" href="{{ path('yacare_inspeccion_relevamientoasignacionresultado_listarrelevamiento', arrastre|merge({ 'id': entity.Relevamiento.Id, 'filtro_asignacion': entity.id })) }}"><i class="fa fa-list"></i> Resultados</a>
                <a data-toggle="ajax-link" class="btn btn-default btn-xs hidden-print" href="{{ path(baseroute ~ '_eliminar', arrastre|merge({ 'id': entity.Id })) }}"><i class="fa fa-times"></i> Eliminar</a>
                {% if entity.Archivado %}
                <a data-toggle="ajax-link" class="btn btn-default btn-xs hidden-print" href="{{ path(baseroute ~ '_desarchivar', arrastre|merge({ 'id': entity.Id })) }}"><i class="fa fa-archive"></i> Desarchivar</a>
                {% else %}
                <a data-toggle="ajax-link" class="btn btn-default btn-xs hidden-print" href="{{ path(baseroute ~ '_archivar', arrastre|merge({ 'id': entity.Id })) }}"><i class="fa fa-archive"></i> Archivar</a>
                {% endif %}
            </td>
            <td>{% if entity.Calle %}Calle {{ entity.Calle }}{% else %}Sección {{ entity.Seccion }}, macizo {{ entity.Macizo }}{% endif %}</td>
            <td>{{ entity.Encargado }}</td>
            <td>{% if entity.DetallesCantidad %}{{ entity.DetallesResultadosCantidad }} de {{ entity.DetallesCantidad }}{% else %}-{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(entities) }}
</div>

{% endif %}
{% endblock %}

{% block pagina_acciones2 %}
{% if filtro_relevamiento is not empty %}
<a class="btn btn-primary" href="{{ path('yacare_inspeccion_relevamientoasignacion_asignarmacizo', arrastre) }}"><i class="fa fa-map-marker"></i> Asignar macizo</a>
<a class="btn btn-primary" href="{{ path('yacare_inspeccion_relevamientoasignacion_asignarcalle',  arrastre) }}"><i class="fa fa-map-marker"></i> Asignar calle</a>
&nbsp;
&nbsp;
<a data-toggle="ajax-link" href="{{ path('yacare_inspeccion_relevamientoasignacionresultado_listar', arrastre|merge({ 'filtro_relevamiento': filtro_relevamiento })) }}" class="btn btn-default"><i class="fa fa-list"></i> Ver todos los resultados</a>
&nbsp;
<a data-toggle="ajax-link" href="{{ path('yacare_inspeccion_relevamiento_editar', arrastre|merge({ 'id': filtro_relevamiento })) }}" class="btn btn-default"><i class="fa fa-edit"></i> Editar relevamiento</a>
{% else %}
    <div class="alert alert-danger"><i class="fa fa-warning"></i> Para poder realizar asignaciones o ver resultados debe seleccionar un relevamiento.</div>
    <label>Relevamientos: </label>
    <ul class="list-inline">
        {% for relev in relevamientos %}
            <li><a data-toggle="ajax-link" href="{{ path('yacare_inspeccion_relevamientoasignacion_listar', arrastre|merge({ 'filtro_relevamiento': relev.id })) }}">{{ relev.Nombre }}</a></li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}