{% extends 'YacareBaseBundle::layout.html.twig' %}

{% block pagina_titulo %}Asignaciones{% endblock %}

{% set filtro_relevamiento = app.request.query.get('filtro_relevamiento') %}

{% block pagina_contenido %}
{% if entities is empty %}
<div>
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong><p>No hay asignaciones.</p></strong>
    <p>Para realizar asignaciones utilice los botones de &quot;Asignar macizo&quot; o &quot;Asignar calle&quot;.
    </p>
</div>
</div>
{% else %}
<table class="table table-striped">
    <thead>
        <tr>
            <th> </th>
            <th>Asignación</th>
            <th>Encargado</th>
            <th>Resultados</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>
                <a data-toggle="ajax-link" class="btn btn-default btn-xs hidden-print" href="{{ path('yacare_inspeccion_relevamientoasignacionresultado_listarrelevamiento', { 'id': entity.Relevamiento.Id, 'filtro_asignacion': entity.id }) }}"><i class="fa fa-list"></i> Resultados</a>
                <a data-toggle="ajax-link" class="btn btn-default btn-xs hidden-print" href="{{ path(baseroute ~ '_eliminar', { 'id': entity.Id }) }}"><i class="fa fa-times"></i> Eliminar</a>
            </td>
            <td>{% if entity.Calle %}Calle {{ entity.Calle }}{% else %}Sección {{ entity.Seccion }}, macizo {{ entity.Macizo }}{% endif %}</td>
            <td>{{ entity.Encargado }}</td>
            <td>{% if entity.DetallesCantidad %}{{ entity.DetallesResultadosCantidad }} de {{ entity.DetallesCantidad }}{% else %}-{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(entities) }}
</div>

{% endif %}
{% endblock %}

{% block pagina_acciones2 %}
{% if filtro_relevamiento is defined %}
<a class="btn btn-primary" href="{{ path('yacare_inspeccion_relevamientoasignacion_asignarmacizo', arrastre) }}"><i class="fa fa-map-marker"></i> Asignar macizo</a>
<a class="btn btn-primary" href="{{ path('yacare_inspeccion_relevamientoasignacion_asignarcalle',  arrastre) }}"><i class="fa fa-map-marker"></i> Asignar calle</a>
&nbsp;
&nbsp;
<a data-toggle="ajax-link" href="{{ path('yacare_inspeccion_relevamientoasignacionresultado_listar', { 'filtro_relevamiento': filtro_relevamiento }) }}" class="btn btn-primary"><i class="fa fa-list"></i> Ver todos los resultados</a>
&nbsp;
<a data-toggle="ajax-link" href="{{ path('yacare_inspeccion_relevamiento_editar', { 'id': filtro_relevamiento }) }}" class="btn btn-primary"><i class="fa fa-edit"></i> Editar relevamiento</a>
{% endif %}
{% endblock %}