<!DOCTYPE html>
{% set tapir_modal = 0 %}{% set block_pagina_titulo = block('pagina_titulo') %}

<html lang="es">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ tapir_nombreaplicacion }}">
<meta name="author" content="Ernesto N. Carrea">

<title>{{ tapir_nombreaplicacion }}{% if block_pagina_titulo is not	empty %}:
    {{ block_pagina_titulo|raw }}{% endif %}</title>
{% image '@tapir_favicon' %}
<link rel="icon" href="{{ asset_url }}" />
{% endimage %}

<link href="{{ asset('bundles/tapirtemplate/css/fonts.css') }}"
	rel="stylesheet" />
<link href="{{ asset('bundles/tapirtemplate/css/font-awesome.min.css') }}"
	rel="stylesheet" />
<link href="{{ asset('bundles/tapirtemplate/css/bootstrap.min.css') }}"
	rel="stylesheet" />
<link href="{{ asset('bundles/tapirtemplate/css/tapir.css') }}"
	rel="stylesheet" />
<link href="{{ asset('bundles/tapirtemplate/css/tapir_tables.css') }}"
	rel="stylesheet" />
<link href="{{ asset('bundles/tapirtemplate/css/tapir_print.css') }}"
	rel="stylesheet" />
<alink href="{{ asset('bundles/tapirtemplate/css/yacare-print.css') }}"
	rel="stylesheet" />

<style type="text/css">
@page {
	size: A4;
}

@page :left {
	margin-right: 3cm;
}

@page :right {
	margin-left: 3cm;
}

body {
	margin: 0;
	/* margin-top: 20px 0 0 10px; */
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 100%;
}
/* @media print {
    body {
        min-height: 297mm;
        min-width: 210mm;
    }
} */
.encabezadooficial {
	height: 90px;
	overflow: hidden;
	margin-bottom: 20px;
	border-bottom: 1px solid silver;
}

.encabezadooficial .encabezadooficial-logo {
	padding-right: 8px;
}

.encabezadooficial .encabezadooficial-izquierda {
	padding-top: 4px;
}

.encabezadooficial h1 {
	font-weight: 700;
	color: black;
	font-size: 14pt;
	padding-bottom: 0;
}

.encabezadooficial h2 {
	font-weight: 400;
	color: #404040;
	font-size: 12pt;
	margin-top: 2px;
	margin-bottom: 2px;
}

.encabezadooficial h3 {
	font-weight: 400;
	color: #606060;
	font-size: 11pt;
	margin-top: 2px;
}

.encabezadooficial .encabezadooficial-derecha {
	font-size: 9pt;
}

.etiquetaqr {
	border: 1px solid gray;
	padding: 0;
	margin: 4px;
	background-color: #e0e0e0;
	position: absolute;
	bottom: 24px;
	right: 0;
}

.etiquetaqr .etiquetaqr-info {
	font-size: 8pt;
	padding-top: 11px;
	min-width: 240px;
	background-color: white;
}

.etiquetaqr-codigo {
	font-size: 24pt;
	width: 100%;
}

a {
	color: #4183c4;
	text-decoration: none;
}

a:visited {
	color: #4183c4;
	text-decoration: none;
}

.content {
	border: 0;
	padding: 0;
	float: none !important;
}

@media screen {
	.content {
		margin: 1cm 1cm 1cm 3cm;
	}
}

table.listado {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

table.listado caption {
	padding: 8px;
	font-size: 20px;
	font-weight: 200;
	border: 2px solid #473d04;
	text-align: left;
	border-radius: 4px;
	margin-bottom: 12px;
}

table.listado th td {
	font-size: 14px;
	font-weight: 200;
	padding: 6px;
}

table.listado tr:nth-child(even) {
	background-color: #f8f8f8;
}

table.listado tr:nth-child(odd) {
	background-color: white;
}

table.listado tr td {
	max-width: 50%;
	padding: 6px;
}

@media print {
	table.listado tr td {
		border-bottom: 1px solid silver;
	}
}

table.listado tr td.label {
	white-space: nowrap;
	vertical-align: top;
	max-width: 30%;
	padding-right: 16px;
}

.pieoficial {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	background-color: white;
	overflow: auto;
	page-break-inside: avoid;
	font-size: 7pt;
}

.currency {
	
}

.currency:before {
	content: "$ ";
}

.currency:after {
	content: ".---";
}

@media print {
	.hidden-print {
		display: none;
	}
}
</style>
</head>

<body>
	<div class="content" id="content">{% block pagina_contenido %}{% endblock %}</div>

	<div class="pieoficial text-center">{% block pagina_pie %}{% endblock %} Las Islas Malvinas, Georgias y Sandwich
		del Sur son y serán argentinas.</div>
</body>

</html>
