{% extends 'YacareBaseBundle:Default:listar.html.twig' %}

{% block title %}DesinfeccionLocal{% endblock %}

{% block content_header '' %}

{% block content %}

{% include 'YacareBaseBundle::buscar.html.twig' %}

<table class="table table-striped">
    <thead>
        <tr>            
            <th>Local</th>
            <th>Titular</th>        
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('yacare_bromatologia_desinfeccionlocal_editar', { 'id': entity.Id }) }}"><i class="icon-edit"></i></a> {{ entity.Local }}</td>
            <td>{{ entity.Titular }}</td>
            <td>

        </tr>
    {% endfor %}
    </tbody>
</table>

{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(entities) }}
</div>

<a href="{{ path('yacare_bromatologia_desinfeccionlocal_editar_1') }}" class="btn"><i class="icon-plus"></i> Nueva Desinfeccion</a>
{% endblock %}
