{% extends 'YacareBaseBundle::imprimir.html.twig' %}

{% block title %}Licitación Nº {{ entity.Numero }}: {{ entity }}{% endblock %}

{% block content %}

<table class="listado">
    <caption>Licitación Nº {{ entity.Numero }}: {{ entity }}</caption>
    
    <tr>
        <td class="label">Importe</td>
        <td><span class="currency">{{ entity.Importe|number_format }}</span></td>
    </tr>
    <tr>
        <td class="label">Complejidad computada</td>
        <td>
{% if entity.ComplejidadComputada == 0 %}
    Baja
{% elseif entity.ComplejidadComputada == 1 %}
    Media
{% elseif entity.ComplejidadComputada == 2 %}
    Alta
{% else %}
    ---
{% endif %}
        </td>
    </tr>
    <tr>
        <td class="label">Coeficiente</td>
        <td>{{ entity.PliegoCoeficiente }}%</td>
    </tr>
    <tr>
        <td class="label">Valor del pliego</td>
        <td><span class="currency">{{ entity.PliegoValor|number_format }}</span></td>
    </tr>
    <tr>
        <td class="label">Observaciones</td>
        <td>{{ entity.Obs|raw('html') }}</td>
    </tr>
</table>

{% if impresion %}
<div id="footer" class="footer">
    <img src="data:image/png;base64,{{ impresion.YriQrBase64 }}" alt="{{ impresion.Yri }}" />
    <div class="fixedsmall">
CID: {{ impresion.Damm }}<br />
TKN: {{ impresion.Token|upper }}<br />
DGD: {{ entity.CreatedAt|date("d/m/Y H:i:s") }}<br />
    </div>
</div>
{% else %}
<div class="noprint">
<button onClick="window.print();">Imprimir</button> <button onClick="parent.location='{{ path('yacare_compras_licitacion_exportar', { 'id': entity.Id, 'fmt': 'application/pdf' }) }}';">Ver o descargar en PDF</button>
</div>
{% endif %}

{% endblock %}