{% extends 'YacareBaseBundle::imprimir.html.twig' %}

{% block title %}Licitación Nº {% endblock %}

{% block content %}

<table class="listado">
    <caption>Licitación Nº {{ entity.Numero }}: {{ entity }}</caption>
    
    <tr>
        <td class="label">Importe</td>
        <td><span class="currency">{{ entity.Importe|number_format }}</span></td>
    </tr>
    <tr>
        <td class="label">Complejidad computada</td>
        <td>
{% if entity.ComplejidadComputada == 0 %}
    Baja
{% elseif entity.ComplejidadComputada == 1 %}
    Media
{% elseif entity.ComplejidadComputada == 2 %}
    Alta
{% else %}
    ---
{% endif %}
        </td>
    </tr>
    <tr>
        <td class="label">Coeficiente</td>
        <td>{{ entity.PliegoCoeficiente }}%</td>
    </tr>
    <tr>
        <td class="label">Valor del pliego</td>
        <td><span class="currency">{{ entity.PliegoValor|number_format }}</span></td>
    </tr>
    <tr>
        <td class="label">Observaciones</td>
        <td>{{ entity.Obs }}</td>
    </tr>
</table>

<div class="noprint">
<button  onClick="window.print();">Imprimir</button>
</div>

<div id="footer" class="footer">
    <img src="{{ path('yacare_compras_licitacion_qr', { 'id': entity.Id }) }}" alt="{{ entity.Yri }}" />
    <div class="fixedsmall">
{{ entity.Yri }}<br />
{{ "now"|date("d/m/Y H:i:s") }}<br />
    </div>
</div>

{% endblock %}