{% extends 'TapirBaseBundle:Default:listar.html.twig' %}

{% block pagina_titulo %}Licitaciones{% endblock %}

{% block pagina_contenido %}
{% include 'TapirBaseBundle::buscar.html.twig' %}

<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th>Nº</th>
            <th>Nombre</th>
            <th>Departamento</th>
            <th>Presupuesto oficial</th>
            <th>Compl.</th>
            <th>Coef.</th>
            <th>Valor del pliego</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a data-toggle="ajax-link" class="btn btn-default btn-xs hidden-print showonhover" href="{{ path('yacare_compras_licitacion_editar', { 'id': entity.Id }) }}"><i class="fa fa-edit"></i> Editar</a> <a class="btn btn-default btn-xs hidden-print showonhover" target="_blank" href="{{ path('yacare_compras_licitacion_imprimir', { 'id': entity.Id, 'fmt': 'application/pdf' }) }}"><i class="fa fa-print"></i> Imprimir</a></td>
            <td>{{ entity.Numero }}</td>
            <td>{{ entity.Nombre }}</td>
            <td>{{ entity.Departamento }}</td>
            <td><span class="currency">{{ entity.PresupuestoOficial|number_format }}</span></td>
            <td>
{% if entity.ComplejidadComputada == 0 %}
    Baja
{% elseif entity.ComplejidadComputada == 1 %}
    Media
{% elseif entity.ComplejidadComputada == 2 %}
    Alta
{% else %}
    ???
{% endif %}
            </td>
            <td>{{ entity.PliegoCoeficiente }}%</td>
            <td><span class="currency">{{ entity.PliegoValor|number_format }}</span></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% include 'TapirBaseBundle::paginar.html.twig' %}

{% endblock %}

{% block pagina_acciones2 %}
<a data-toggle="ajax-link" href="{{ path('yacare_compras_licitacion_editar_1') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Nueva licitación</a>
{% endblock %}