{% extends 'YacareBaseBundle::layout.html.twig' %}

{% block pagina_titulo %}{{ entity }}{% endblock %}

{% macro listar(tramitetipo, nivel) %}

{% if tramitetipo.Obs %}
{{ tramitetipo.Obs|raw }}
{% endif %}

{% if tramitetipo.AsociacionRequisitos|length > 0 %}
<p>Para iniciar el trámite de &quot;{{ tramitetipo }}&quot; deberá presentar la siguiente documentación:</p>
<ol>
    {% for AsocRequisito in tramitetipo.AsociacionRequisitos %}
        {% if AsocRequisito.Requisito.Tipo == 'tra' %}
            <li><h{{ nivel }}><i class="fa fa-square-o"></i> {{ AsocRequisito }}<small> (trámite previo)</small></h{{ nivel }}></li>
            {% if AsocRequisito.Obs %}
                <p class="text-muted">{{ AsocRequisito.Obs }}</p>
            {% endif %}
            {{ _self.mostrarrequisito(AsocRequisito.Requisito) }}
            {{ _self.listar(AsocRequisito.Requisito.TramiteTipoEspejo, nivel + 1) }}
        {% endif %}
    {% endfor %}
    
    <hr />
    {% for AsocRequisito in tramitetipo.AsociacionRequisitos %}
        {% if AsocRequisito.Requisito.Tipo != 'tra' %}
            <li><h{{ nivel }}><i class="fa fa-square-o"></i> {{ AsocRequisito }}</h{{ nivel }}></li>
            {% if AsocRequisito.Obs %}
                <p class="text-muted">{{ AsocRequisito.Obs }}</p>
            {% endif %}
            {{ _self.mostrarrequisito(AsocRequisito.Requisito) }}
        {% endif %}
    {% endfor %}
</ol>
{% endif %}
{% endmacro %}

{% macro mostrarrequisito(requisito) %}
{% if requisito.Obs %}
    <p>{{ requisito.Obs }}</p>
{% endif %}
{% if requisito.Lugar or requisito.Url %}<p class="text-info">{% endif %}
{% if requisito.Lugar %}Se obtiene en <strong>{{ requisito.Lugar }}</strong> {% endif %}
{% if requisito.Url %}[ {{ requisito.Url }} ]{% endif %}
{% if requisito.Lugar or requisito.Url %}</p>{% endif %}
{% endmacro %}

{% block pagina_contenido %}

{{ _self.listar(entity, 2) }}

<p>Al finalizar el trámite, se emitirá un comprobante tipo <strong>{{ entity.Comprobante }}</strong>.</p>

{% if entity.Url %}
<p>Puede obtener más información en {{ entity.Url }}</p>
{% endif %}

<hr />
<h4>Referencias:</h4>
<dl class="dl-horizontal">
    <dt>Original</dt><dd>Deberá entregar el original, que queda en poder del municipio y será archivado como parte del expediente.</dd>
    <dt>Copia certificada</dt><dd>Deberá presentar original y copia. La copia se certifica y queda en poder del municipio, el original lo conserva el contribuyente.
        Si no puede mostrar el original, puede entregar copia legalizada por autoridad competente, que queda en poder del
        municipio.</dd>
    <dt>Copia simple</dt><dd>Puede presentar una fotocopia común, que queda en poder del municipio y será archivado como parte del expediente.</dd>
</dl>

{% endblock %}

{% block pagina_acciones %}
    {% if is_expr_granted("hasAnyRole('ROLE_ADMINISTRADOR')") %}
        <a data-toggle="ajax-link" href="{{ path(baseroute ~ '_editar', arrastre|merge({ 'id': entity.id })) }}" class="btn btn-default"><i class="fa fa-edit"></i> Editar trámite</a>
        <a class="btn btn-default" href="{{ path('yacare_tramites_asociacionrequisito_listar', { 'parent_id': entity.Id }) }}"><i class="fa fa-check"></i> Editar requisitos</a>
    {% endif %}
    <a href="#" onclick="window.print(); return false;" class="btn btn-primary"><i class="fa fa-print"></i> Imprimir</a>
    <a data-toggle="ajax-link" href="{{ path(baseroute ~ '_listar', arrastre) }}" class="btn btn-primary"><i class="fa fa-reply"></i> Volver</a>
{% endblock %}
