{% extends 'TapirTemplateBundle::layout.html.twig' %}

{% set filtro_buscar = app.request.get('filtro_buscar') %}
{% set tapir_buscar_destino = app.request.get('tapir_buscar_destino') %}
{% if not tapir_buscar_destino %}
    {% set tapir_buscar_destino = path(baseroute ~ '_ver', arrastre) %}
{% endif %}

{% block pagina_titulo %}Buscar matriculado{% endblock %}

{% block pagina_contenido %}
<div id="resultadosbuscar">
	<div class="input-group">
		<input class="form-control" size="50" maxlength="50"
			autocomplete="off" autofocus onkeydown="if (event.keyCode === 13) {
			$('#filtro_buscar_buscar').click(); return false; }" type="text"
			id="filtro_buscar" name="filtro_buscar" value="{{ filtro_buscar }}"
			placeholder="Buscar por nombre o DNI..." /> <span
			class="input-group-btn"><button
				onclick="buscarPorNombre($('#filtro_buscar').val()); return false;"
				type="button" class="btn btn-primary" id="filtro_buscar_buscar">
				<i class="fa fa-search"></i> Buscar
			</button></span>
	</div>

	{% if entities is defined and entities|length > 0 %}
	    {% if entities|length == 1 %}
	        {% set entity = entities|first %}
	<script type="text/javascript">
        $('#filtro_buscar').prop('disabled', true);
        setTimeout(function() {
        	seleccionarItem('{{ entity.id }}', '{{ entity.Persona.NombreVisible|escape("js") }}');
        }, 3500);
    </script>
	<hr />
	<div class="row">
		<div class="col-xs-2">
			<i class="fa fa-gift fa-4x text-success pull-right"></i>
		</div>
		<div class="col-xs-8">
			<h1>¡Encontrado!</h1>
			<p>
				Se va a seleccionar automáticamente <strong>{{ entity }}</strong>,
				DNI {{ entity.Persona.DocumentoNumero }}, porque es el único
				resultado que coincide con la búsqueda.
			</p>
		</div>
	</div>
	    {% endif %} &nbsp;
	<table class="table table-responsive table-condensed table-hoverselect">
		<thead>
			<tr>
				<th>Mat. Nº</th>
				<th>Nombre</th>
				<th>Profesión</th>
				<th>Documento</th>
				<th>Domicilio</th>
			</tr>
		</thead>
		<tbody>
			{% for entity in entities %}
			<tr
				onclick="seleccionarItem('{{ entity.id }}', '{{ entity.Persona.NombreVisible|escape('js') }}'); return false;">
				<td><i class="fa fa-caret-right showonhover"></i> {{ entity.id }}</td>
				<td><span style="white-space: nowrap;">{{ entity.Persona.NombreVisible }}</span></td>
				<td class="visible-lg">{{ entity.ProfesionAbreviada }}</td>
				<td><span class="text-muted">{{ entity.Persona.CuiltODocumento }}</span></td>
				<td class="hidden-xs hidden-sm"><span class="text-muted">{{ entity.Persona.Domicilio }}</span></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<p class="lead">Puede buscar profesionales matriculados por nombre,
		apellido, razón social, DNI, CUIL o CUIT.</p>
	{% endif %}

	<script type="text/javascript">
    function seleccionarItem(id, detalle) {
        if('{{ tapir_buscar_destino }}'.charAt(0) == '#') {
            // Si comienza con #, es un selector
            tapirEntityIdSeleccionarItem('{{ tapir_buscar_destino }}', id, detalle);
        } else {
            // De lo contrario, asumo que es una URL
            url = tapirAgregarElementoUri('{{ tapir_buscar_destino }}', 'id', id);
        	tapirNavegarA(url);
        }
        $('#modal').modal('hide');
        $('#modal').html('(re)Cargando...');
    }

    function buscarPorNombre(nombre) {
        url = tapirAgregarElementoUri('{{ path(baseroute ~ "_buscar", arrastre|merge({ "filtro_buscar": null })) }}', 'filtro_buscar', nombre);
        if('{{ tapir_buscar_destino }}'.charAt(0) != '#') {
            tapirCambiarDireccion(url);
        }
        url = tapirAgregarElementoUri(url, 'sinencab', 1);
        url = tapirAgregarElementoUri(url, 'tapir_buscar_destino', '{{ tapir_buscar_destino }}');
        tapirCargarUrlEn(url, '#resultadosbuscar');
    }

    tapirEnfocarControl('#filtro_buscar');
</script>
{% endblock %}

{% block pagina_fin %}
</div>
{% endblock %}

