{% extends 'TapirBaseBundle:Default:listar.html.twig' %}

{% block pagina_titulo %}Profesionales matriculados{% endblock %}

{% block pagina_contenido %}
<table class="table table-hoverselect">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th class="hidden-xs">Domicilio</th>
            <th class="hidden-xs">Profesión</th>
            <th class="hidden-xs hidden-print">Vencimiento</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr data-toggle="ajax-link" href="{{ path(baseroute ~ '_editar', arrastre|merge({ 'id': entity.id })) }}">
            <td>{{ entity.id }}</td>
            <td>{{ entity.Persona }}</td>
            <td class="hidden-xs">{{ entity.Persona.Domicilio }}</td>
            <td class="hidden-xs">{{ entity.Profesion }}</td>
            <td class="hidden-xs hidden-print">{{ entity.FechaVencimiento|tapir_fecha('medium', 'none') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block pagina_paginar %}{% include 'TapirBaseBundle::paginar.html.twig' %}{% endblock %}
{% block pagina_buscar %}{% include 'TapirBaseBundle::buscar.html.twig' %}{% endblock %}

{% block pagina_acciones2 %}
<a data-toggle="ajax-link" href="{{ path(baseroute ~ '_listarhabilitados', arrastre) }}" class="btn btn-default hidden-print"><i class="fa fa-print"></i> Lista de matriculados al día</a>
<a data-toggle="ajax-link" href="{{ path(baseroute ~ '_editar_1', arrastre) }}" class="btn btn-default hidden-print"><i class="fa fa-plus"></i> Nuevo matriculado</a>
{% endblock pagina_acciones2 %}
