{% extends 'YacareBaseBundle:Default:listar.html.twig' %}

{% block title %}Tipos de trámites - Requisitos{% endblock %}

{% block content_header '' %}

{% block content %}

{% if entities is empty %}
<div>
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong><p>No hay requisitos.</p></strong>
    <p>Este trámite aun no tiene requisitos asignados. Para asignar requisitos utilice el botón Nuevo requisito.
    </p>
</div>
</div>
{% else %}
<table class="table">
    <thead>
        <tr>
            <th> </th>
            <th> </th>
            <th>Requisito</th>
            <th>De</th>
            <th>Condición</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a class="btn btn-mini" href="{{ path(baseroute ~ '_editar', arrastre|merge({ 'id': entity.Id })) }}"><i class="icon-edit"></i> Editar</a></td>
            <td>{% if entity.Requisito.Instancia %}
{% if entity.Requisito.Instancia == 'org' %}
 Original
{% elseif entity.Requisito.Instancia == 'cop' %}
 Copia
{% endif %}
{% endif %}</td>
            <td>{% if entity.Opcional %}(Opcional) {% endif %}{{ entity }}</td>
            <td>{{ entity.Propiedad }}</td>
            <td>{{ entity.Condicion }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% include 'YacareBaseBundle::paginar.html.twig' %}
{% endif %}

<a href="{{ path(baseroute ~ '_editar_1', arrastre) }}" class="btn"><i class="icon-plus"></i> Nuevo requisito</a>
{% endblock %}
