{% extends 'TapirBaseBundle::layout.html.twig' %} {% block pagina_inicio
%} {% if (edit_form_action is defined) == false %} {% set
edit_form_action = baseroute ~ '_guardar' %} {% endif %}
<form class="form-horizontal"
	action="{{ path(edit_form_action, arrastre|merge({ 'id': entity.id })) }}"
	method="post"  {{ form_enctype(edit_form) }}>
	{% endblock %} {% block pagina_contenido %} {{ form_errors(edit_form)
	}} {{ form_widget(edit_form) }} {% endblock %} {% block pagina_acciones
	%} <a data-toggle="ajax-link" data-dismiss="modal"
		class="btn btn-default"
		href="{{ path(baseroute ~ '_listar', arrastre) }}">Cancelar</a>
	<button type="submit" value="Guardar" class="btn btn-primary">
		<i class="fa fa-check"></i> Guardar
	</button>
	{% endblock %} {% block pagina_acciones2 %} {% if delete_form is
	defined and not delete_form is null and entity.id %} <a
		data-toggle="ajax-link" class="btn btn-danger"
		href="{{ path(baseroute ~ '_eliminar', arrastre|merge({ 'id': entity.id })) }}">
		<i class="fa fa-trash-o"></i> Eliminar
	</a> {% endif %} {% endblock %} {% block pagina_fin %}
</form>
{% endblock %}
