{% extends 'YacareBaseBundle:Default:listar.html.twig' %}

{% block pagina_titulo %}Protocolo{% endblock %}



{% block pagina_contenido %}

{% include 'TapirBaseBundle::buscar.html.twig' %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Protocolo Nº</th>
            <th>Persona</th>
            <th>Producto</th>
            <th>Envase</th>
            <th>Fecha de elaboración</th>
            <th>Fecha de vencimiento</th>
            <th>Acta Nº</th>
            <th>Fecha de recepción</th>            
            <th>Resultado</th>
            <th>Obs.</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a data-toggle="ajax-link" class="btn btn-default btn-xs hidden-print" href="{{ path(baseroute ~ '_editar', { 'id': entity.Id }) }}"><i class="fa fa-edit"></i> Editar</a></td>
            <td>{{ entity.ProtocoloNumero }}</td>
            <td>{{ entity.Persona }}</td>
            <td>{{ entity.Producto }}</td>
            <td>{{ entity.Envase }}</td>
            <td>{{ entity.FechaElaboracion|date("d/m/Y") }}</td>
            <td>{{ entity.FechaVencimiento|date("d/m/Y") }}</td>
            <td>{{ entity.ActaNumero }}</td> 
            <td>{{ entity.FechaRecepcion|date("d/m/Y") }}</td> 
            <td>{{ entity.ResultadoProtocolo }}</td>
            <td>{{ entity.Observaciones }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% include 'TapirBaseBundle::paginar.html.twig' %}

<a data-toggle="ajax-link" href="{{ path(baseroute ~ '_editar_1', arrastre) }}" class="btn btn-primary"><i class="fa fa-plus"></i> Nuevo Protocolo</a>

{% endblock %}
