{% extends 'YacareBaseBundle::layout.html.twig' %}

{% block title %}Rol{% endblock %}

{% block content %}

<form class="form-horizontal" action="{{ path(baseroute ~ '_guardar', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    <legend>{% if entity.id %} {{ entity.Nombre }} {% else %} Nuevo grupo {% endif %}</legend>
    {{ form_widget(edit_form) }}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary"><i class="icon-white icon-ok"></i> Guardar</button>
        <a class="btn" href="{{ path(baseroute ~ '_listar') }}">Cancelar</a>
    </div>
</form>

{% if entity.id %}
<a class="btn btn-danger" href="{{ path(baseroute ~ '_eliminar', { 'id': entity.id }) }}"><i class="icon-trash icon-white"></i> Eliminar grupo</a>
{% endif %}

{% endblock %}