{% extends 'YacareBaseBundle::layout.html.twig' %}

{% block pagina_titulo %}Eliminar {% if entitylabel is defined %}{{ entitylabel|lower }}{% endif %}{% endblock %}

{% block pagina_inicio %}
    <form class="form-horizontal" action="{{ path(baseroute ~ '_eliminar2', arrastre|merge({ 'id': entity.id })) }}" method="post">
{% endblock %}

{% block pagina_contenido %}
    {% form_theme delete_form 'YacareBaseBundle:Form:form_div_layout.html.twig' %}

    {% if entity %}
        {{ form_widget(delete_form) }}
<div class="container"><div class="row">
    <div class="col-md-1">
        <i class="text text-danger pull-left fa fa-warning fa-4x"></i>    
    </div>
    <div class="col-md-11">
        <p class="text text-danger"><strong>¡Atención!</strong> Por favor verifique la información antes de proceder.</p>
        <p>Se va a eliminar el siguiente registro de forma permanente:</p>
        <p class="lead text-primary">{{ entity }}</p>
        <p>¿Está seguro de que desea eliminar de forma permanente el elemento seleccionado?</p>

        <a data-dismiss="modal" href="{{ path(baseroute ~ '_editar', arrastre|merge({ 'id': entity.id })) }}" class="btn btn-default"><i class="fa fa-reply"></i> No, quiero volver</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-danger" type="submit"><i class="fa fa-trash-o"></i> Si, quiero eliminarlo</button>
    </div>
</div></div>
    {% endif %}
{% endblock %}

{% block pagina_fin %}
    </form>
{% endblock %}