{% extends 'YacareBaseBundle::layout.html.twig' %}

{% block pagina_titulo %}{% endblock %}

{% block pagina_contenido %}

<div class="jumbotron">
    <img align="right" src="{{ asset('bundles/yacarebase/img/yacare_logo320.png') }}" style="padding: 32px; transform: scaleX(-1);" alt="Yacaré" />
    <h1>Bienvenido</h1>
    <p>Bienvenido al sistema de gestión del Municipio de Río Grande.</p>
</div>

<div class="row">
    <div class="col-md-8">
        Usted está conectado como <span class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ app.user.Nombre }} {{ app.user.Apellido }}</a>
        <ul class="dropdown-menu">
            <li><a data-toggle="ajax-link" href="{{ path('yacare_base_persona_editarperfil') }}"><i class="fa fa-user"></i> Mi perfil</a></li>
            <li class="divider"></li>
            <li><a href="{{ path('logout') }}"><i class="fa fa-power-off"></i> Desconectarse</a></li>
        </ul>
        </span> (nombre de usuario {{ app.user.Username }}).
    </div>
    <div class="col-md-4">
    </div>
</div>
{% endblock %}
