{% extends 'TapirTemplateBundle::layout.html.twig' %}

{% block pagina_titulo%}{% endblock %}

{% block pagina_contenido %}
<div class="container-fluid">

<div class="row">
	<h1>Bienvenido {% if app.user %}{{ app.user.Nombre|split(' ')|first }}{% endif %}</h1>
	<img class="pull-right"
			src="{{ asset('bundles/yacarebase/img/yacare_logo240.png') }}"
			style="padding: 20px; transform: scaleX(-1) scaleY(1); opacity: .1;"
			alt="{{ tapir_nombreaplicacion }}" />

	<h2>{{ tapir_cliente }}.</h2>
	<p><a href="http://www.riogrande.gob.ar" target="_blank">www.riogrande.gob.ar</a></p>
</div>

<div class="row">
    {% if requerimientos_pendientes|length > 0 %}
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4"><div class="panel panel-red">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-ticket fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">{{ requerimientos_pendientes|length }}</div>
                    <div>Requerimientos</div>
                </div>
            </div>
        </div>
        <a href="{{ path('yacare_requerimientos_requerimiento_listar') }}">
            <div class="panel-footer link">
                <span class="pull-left">Ver todos</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div></div>
    {% elseif requerimientos_propios|length > 0 %}
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4"><div class="panel panel-yellow">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-ticket fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">{{ requerimientos_propios|length }}</div>
                    <div>Requerimientos</div>
                </div>
            </div>
        </div>
        <a href="{{ path('yacare_requerimientos_requerimiento_listar') }}">
            <div class="panel-footer link">
                <span class="pull-left">Ver todos</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div></div>
    {% endif %}
</div></div>


<hr />

<div>
    {% if app.user %}
	    Está conectado como <span class="dropdown"> <a
		class="dropdown-toggle" data-toggle="dropdown" href="#">
		{% if app.user.Nombre %} {{ app.user.Nombre }} {{ app.user.Apellido }}</a>
		{% else %} {{ app.user }} {% endif %}
		<ul class="dropdown-menu">
			<li><a data-toggle="ajax-link"
				href="{{ path('usuario_editarperfil_actual') }}"><i
					class="fa fa-user fa-fw"></i> Mi perfil</a></li>
			<li><a data-toggle="modal" data-target="#modal"
				href="{{ path('usuario_cambiarcontrasena_actual') }}"><i
					class="fa fa-key fa-fw"></i> Cambiar contraseña</a></li>
			<li class="divider"></li>
			<li><a href="{{ path('logout') }}"><i class="fa fa-power-off fa-fw"></i>
					Desconectarse</a></li>
		</ul>
		</span> (nombre de usuario <strong>{{ app.user.Username }}</strong>).
	{% else %}
		<i class="fa fa-warning fa-2x text-danger pull-left"></i> Está conectado como usuario anónimo. Si tiene una contraseña, <a href="{{ path('login') }}">conéctese</a>. 
	{% endif %}
</div>


{% endblock %}
