{% set yacare_mostrarmodal = 0 %}
{% set block_pagina_titulo = block('pagina_titulo') %}  
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sistema de gestión municipal Yacaré">
    <meta name="author" content="Ernesto N. Carrea">

    <title>Yacaré{% if block_pagina_titulo is not empty %} - {{ block_pagina_titulo|raw }}{% endif %}</title>

    <link rel="icon" href="{{ asset('bundles/yacarebase/img/yacare_logo64.png') }}">
    
    <link href="{{ asset('bundles/yacarebase/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/yacarebase/css/font-awesome.min.css') }}" rel="stylesheet" />

    <link href="{{ asset('bundles/yacarebase/css/sb-admin.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/yacarebase/css/yacare.css') }}" rel="stylesheet" />
    
    <script type="text/javascript" src="{{ asset('bundles/yacarebase/js/jquery-2.1.0.min.js') }}"></script>
</head>

<body>
    {% for type, flashMessages in app.session.flashbag.all() %}
    {% for flashMessage in flashMessages %}
        <div class="alert alert-dismissable alert-{{ type }}">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% endfor %}

    <div id="login-wrapper" class="container-fluid">
        <div id="login-container" class="row">
            <div class="col-md-6 hidden-xs bg-success">
                <img class="img-responsive pull-right" src="{{ asset('bundles/yacarebase/img/yacare_logo320.png') }}" style="padding: 20px 64px;" alt="Yacaré" />
            </div>
            <div class="col-md-6">
                <h1>Yacaré</h1>
                {% if error %}
                    <div class="alert alert-dismissable alert-danger">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {{ error }}
                    </div>
                {% endif %}
                <form role="form" class="form-horizontal" action="{{ path('login_check') }}" method="post">
                    <p>Bienvenido. Por favor demuestre su autorización para utilizar el sistema.</p>
                    <fieldset>
                        <label for="_username" class="hidden-md hidden-lg hidden-sm">Usuario</label>
                        <div class="form-group">
                            <input class="input-sm" placeholder="Usuario" id="_username" name="_username" type="text" autofocus />
                        </div>
                        <label for="_password" class="hidden-md hidden-lg hidden-sm">Contraseña</label>
                        <div class="form-group">
                            <input class="input-sm" placeholder="Contraseña" id="_password" name="_password" type="password" value="" />
                        </div>
                    </fieldset>
                    <button type="submit" class="btn btn-primary">Ingresar</button>
                </form>
                <p>&nbsp;<br /><small class="text-muted">Si no tiene una contraseña póngase en contacto con la Dirección de Cómputos.</small></p>
            </div>
        </div>
        <footer><small class="text-muted pull-right">Municipio de Río Grande</small></footer>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{{ asset('bundles/yacarebase/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/yacarebase/js/jquery.history.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/yacarebase/js/yacare.js') }}"></script>
  </body>
</html>