{% extends 'YacareBaseBundle::layout.html.twig' %}

{% block title %}Medico{% endblock %}

{% block content %}

<form class="form-horizontal" action="{{ path('yacare_bromatologia_medico_guardar', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
	<legend>{% if entity.id %} {{ entity.Medico }} {% else %} Nuevo médico{% endif %}</legend>
	{{ form_widget(edit_form) }}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary"><i class="fa fa-white icon-ok"></i> Guardar</button>
		<a class="btn btn-default" href="{{ path('yacare_bromatologia_medico_listar') }}">Cancelar</a>
    </div>
</form>

{% if entity.id %}
<a class="btn btn-danger" href="{{ path('yacare_bromatologia_medico_eliminar', { 'id': entity.id }) }}"><i class="fa fa-trash-o icon-white"></i> Eliminar médico</a>
{% endif %}

{% endblock %}