<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <title>Yacaré - Importar</title>
    <link rel="icon" href="{{ asset('bundles/yacarebase/images/yacare_logo64.png') }}" />
</head>

<body>

<h1>Se procesaron {{ importar_procesados }} registros, se actualizaron {{importar_actualizados }} y se importaron {{ importar_importados }} nuevos.</h1>

<pre>{% for entry in log %}
{{ entry }}
{% endfor %}</pre>

{% if redir_desde is defined and redir_desde > 0%}
<script>
        parent.location='?desde={{ redir_desde }}';
</script>
{% endif %}

</body>
</html>