{% extends 'TapirBaseBundle:Default:listar.html.twig' %}

{% block pagina_titulo %}{{ entitylabelplural }}{% endblock %}

{% block pagina_contenido %}
<table class="table table-hoverselect">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Nombre original</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr data-toggle="ajax-link" href="{{ path(baseroute ~ '_editar', { 'id': entity.id }) }}">
            <td>{{ entity.Nombre }}</td>
            <td>{{ entity.NombreOriginal }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block pagina_paginar %}{% include 'TapirBaseBundle::paginar.html.twig' %}{% endblock %}
{% block pagina_buscar %}{% include 'TapirBaseBundle::buscar.html.twig' %}{% endblock %}

{% block pagina_acciones2 %}
<a data-toggle="ajax-link" href="{{ path(baseroute ~ '_editar_1') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Nuevo barrio</a>
{% endblock %}