{#
/**
* @file
* Plantilla de paginación para KnpPaginationBundle.
* @author Ernesto Carrea <equistango@gmail.com>
*/
#}
{% if pageCount > 1 %}
<div class="modal paginar-modal" id="paginar_modal" tabindex="-1" role="dialog"
    aria-labelledby="paginar_modal_title" aria-hidden="true">
  <div class="modal-dialog modal-sm">
     <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
                <span class="sr-only">Cerrar</span></button>
            <h4 class="modal-title" id="paginar_modal_title">Páginas</h4>
          </div>
          <div class="modal-body">
            <p>Mostrando la página {{ current }} de un total de {{ pageCount }}.</p>
            
            <div class="input-group">
                <label class="sr-only" for="paginar_numero_ir">Ir a la página</label>
                <input type="text" class="form-control" size="5" maxlength="5" id="paginar_numero_ir"
                    name="paginar_numero_ir" placeholder="escriba el número de página" value="{{ current }}">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button"
                        onClick="tapirNavegarA('{{ path(route, query|merge({(pageParameterName): null})) }}&page='
                            + $('#paginar_numero_ir').val()); $('#paginar_modal').modal('hide');">Ir</button>
                </span>
            </div><!-- /input-group -->

            <p><a data-toggle="ajax-link" href="{{ path(route, query|merge({(pageParameterName): 1})) }}">Ir a la primera página</a></p>
            <p><a data-toggle="ajax-link" href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}">Ir a la última página ({{ pageCount }})</a></p>
        </div>
     </div>
  </div>
</div>
<div class="btn-group pull-right">
    {% if previous is defined %}
        <a class="btn btn-sm btn-default" data-toggle="ajax-link" href="{{ path(route, query|merge({(pageParameterName): previous})) }}"><i class="fa fa-backward fa-fw"></i></a>
    {% else %}
        <span class="btn btn-sm btn-default disabled"><i class="fa fa-backward fa-fw"></i></span>
    {% endif %}

    <button class="btn btn-sm btn-default" data-toggle="modal" data-target="#paginar_modal"> Pág. {{ current }} <span class="caret"></span></button>
    
    {% if next is defined %}
        <a class="btn btn-sm btn-default" data-toggle="ajax-link" href="{{ path(route, query|merge({(pageParameterName): next})) }}"><i class="fa fa-forward fa-fw"></i></a>
    {% else %}
        <span class="btn btn-sm btn-default disabled"><i class="fa fa-forward fa-fw"></i></span>
    {% endif %}
</div>
{% endif %}