{% extends 'YacareBaseBundle::layout.html.twig' %}

{% block title %}Rubro{% endblock %}

{% block content %}

<form class="form-horizontal" action="{{ path('yacare_comercio_rubro_guardar', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
	<legend>{% if entity.id %} {{ entity.Nombre }} {% else %} Nuevo Rubro {% endif %}</legend>
	{{ form_widget(edit_form) }}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary"><i class="icon-white icon-ok"></i> Guardar</button>
		<a class="btn" href="{{ path('yacare_comercio_rubro_listar') }}">Cancelar</a>
    </div>
</form>

{% if entity.id %}
<a class="btn btn-danger" href="{{ path('yacare_comercio_rubro_eliminar', { 'id': entity.id }) }}"><i class="icon-trash icon-white"></i> Eliminar Rubro</a>
{% endif %}

{% endblock %}