{% extends 'TapirTemplateBundle::layout.html.twig' %}

{% block pagina_titulo %}Adjuntos{% endblock %}

{% block pagina_contenido %}

{% if entities %}
<div class="container-fluid">
<div class="row">
    {% for entity in entities %}
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2" style="min-height: 256px; max-height: 256px;">
        <div class="dropdown" astyle="max-width: 100%; overflow-x: hidden">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle"><div class="img-thumbnail text-center center" target="_blank" href="{{ asset('adjuntos/' ~ entity.Carpeta ~ '/' ~ entity.Token) }}" style="overflow: hidden; min-height: 200px; max-height: 200px;">
            {% if entity.TieneMiniatura %}
            	<img src="{{ entity.NombreArchivoRelativo | imagine_filter('thumb256') }}" alt="{{ entity.Nombre }}" class="img-responsive" />
            {% else %}
            	<img src="{{ entity.Icono }}" alt="{{ entity.Nombre }}" class="img-responsive" />
            {% endif %}
        </div></a>
            <ul class="dropdown-menu">
                <li><a target="_blank" href="{{ asset('adjuntos/' ~ entity.Carpeta ~ '/' ~ entity.Token) }}"><i class="fa fa-folder-open-o fa-fw"></i> Abrir</a></li>
                <li><a data-toggle="ajax-link" href="{{ path('yacare_base_adjunto_descargar', { 'token': entity.Token }) }}"><i class="fa fa-download fa-fw"></i> Descargar</a></li>
            </ul>
        </div>
        <div class="text-muted"><small>Subido el {{ entity.createdAt|tapir_fecha('medium', 'none') }}
            {% if entity.Persona %}
                por {{ entity.Persona }}.
            {% endif %}
            </small></div>
    </div>
    {% endfor %}
</div>
</div>

{% else %}

<p>No hay archivos adjuntos.</p>

{% endif %}

{% endblock %}