{% extends 'YacareBaseBundle:Default:listar.html.twig' %}

{% block title %}Analisis{% endblock %}

{% block content_header '' %}

{% block content %}

{% include 'YacareBaseBundle::buscar.html.twig' %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Protocolo Nº</th>
            <th>Tipo de Análisis</th>
            <th>Resultado</th>
            <th>Observaciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('yacare_bromatologia_analisis_editar', { 'id': entity.Id }) }}"><i class="icon-edit"></i></a> {{ entity.ProtocoloNumero }}</td>
            <td>{{ entity.TipoAnalisis }}</td>
            <td>{{ entity.ResultadoAnalisis }}</td>
            <td>{{ entity.Observaciones }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(entities) }}
</div>

<a href="{{ path('yacare_bromatologia_analisis_editar_1') }}" class="btn"><i class="icon-plus"></i> Nuevo analisis</a>
{% endblock %}
