{% extends 'YacareBaseBundle::layout.html.twig' %}

{% block title %}Relevamientos - Asignaciones - Resultados{% endblock %}

{% block content_header '' %}

{% block content %}
{% if entities is empty %}
<div>
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong><p>Aun no se recibieron resultados para este relevamiento.</p></strong>
    <p>Si ya se realizaron asignaciones, debe usar la opción de 'Sincronizar'
    los datos desde los dispositivos (tabletas).
    </p>
</div>
</div>
{% else %}
<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Encargado</th>
            <th>Dirección</th>
            <th>SMP</th>
            <th>Incidencias</th>
            <th>Obs</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{% if entity.Imagen %}<a target="_blank" href="{{ path('yacare_inspeccion_relevamientoasignacionresultado_imagen', { 'id': entity.Id }) }}"><i class="icon-picture"></i></a>{% endif %}
            {% if entity.Ubicacion %}<i class="icon-map-marker"></i> {% endif %}</td>
            <td>{{ entity.Detalle.Asignacion.Encargado }}</td>
            <td>{{ entity.Detalle.PartidaCalleNombre }} {{ entity.Detalle.PartidaCalleNumero }}</td>
            <td>{{ entity.Detalle.PartidaSeccion }}, {{ entity.Detalle.PartidaMacizo }}, {{ entity.Detalle.PartidaParcela }}</td>
            <td>{{ entity.Resultado }}</td>
            <td>{{ entity.Obs }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    //$('a.icono_imagen').colorbox({rel:'icono_imagen a', transition:"elastic", maxWidth:"95%", maxHeight:"95%"});
</script>

{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(entities) }}
</div>
{% endif %}
<a href="{{ path('yacare_inspeccion_relevamientoasignacion_listarrelevamiento', { 'id': id }) }}" class="btn"><i class="icon-list"></i> Ver asignaciones</a>
{% endblock %}