{% extends 'TapirBaseBundle::layout.html.twig' %}

{% block pagina_titulo %}Resultados de las asignaciones{% endblock %}

{% set filtro_relevamiento = app.request.query.get('filtro_relevamiento') %}
{% set filtro_asignacion = app.request.query.get('filtro_asignacion') %}

{% block pagina_contenido %}
    {{ entities|length }}
{% if entities is empty %}
<div>
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong><p>Aun no se recibieron resultados para este relevamiento o asignación.</p></strong>
        <p>Si ya se realizaron asignaciones, debe usar la opción de 'Sincronizar'
            los datos desde los dispositivos (tabletas).
        </p>
    </div>
</div>
{% else %}
<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th>Encargado</th>
            <th>Dirección</th>
            <th>SMP</th>
            <th>Incidencias</th>
            <th>Obs</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{% if entity.Imagen %}<a target="_blank" href="{{ path('yacare_inspeccion_relevamientoasignacionresultado_imagen', { 'id': entity.Id }) }}"><i class="fa fa-camera"></i></a>{% endif %}
            {% if entity.Ubicacion %}<a target="_blank" href="http://www.openstreetmap.org/?mlat={{ entity.UbicacionLatitud }}&mlon={{ entity.UbicacionLongitud }}&zoom=30" data-rel="popover" data-content="Latitud: {{ entity.UbicacionLatitud }}, longiud: {{ entity.UbicacionLongitud }}. Haga click en el ícono para ver la ubicación en un plano." title="Ubicación"><i class="fa fa-map-marker"></i></a> {% endif %}</td>
            <td>{{ entity.Detalle.Asignacion.Encargado }}</td>
            <td>{{ entity.Detalle.PartidaCalleNombre }} {{ entity.Detalle.PartidaCalleNumero }}</td>
            <td>{{ entity.Detalle.PartidaSeccion }}, {{ entity.Detalle.PartidaMacizo }}, {{ entity.Detalle.PartidaParcela }}</td>
            <td>{{ entity.Resultado }}</td>
            <td>{{ entity.Obs }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    //$('a.icono_imagen').colorbox({rel:'icono_imagen a', transition:"elastic", maxWidth:"95%", maxHeight:"95%"});
</script>

{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(entities) }}
</div>
{% endif %}
{% endblock %}

{% block pagina_acciones2 %}
<a data-toggle="ajax-link" href="{{ path('yacare_inspeccion_relevamientoasignacion_listar', { 'filtro_relevamiento': filtro_relevamiento }) }}" class="btn btn-primary"><i class="fa fa-list"></i> Ver asignaciones</a>
{% endblock %}