{% set yacare_estoymodal = 0 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Yacaré - {% block title %}{% endblock %}</title>

    <link rel="icon" href="{{ asset('bundles/yacarebase/images/yacare_logo64.png') }}">
    
    <link href="{{ asset('bundles/yacarebase/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/yacarebase/css/font-awesome.min.css') }}" rel="stylesheet" />

    <link href="{{ asset('bundles/yacarebase/css/sb-admin.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/yacarebase/css/yacare.css') }}" rel="stylesheet" />
    
    <script src="{{ asset('bundles/yacarebase/js/modernizr.custom.58479.js') }}"></script>
    <script src="{{ asset('bundles/yacarebase/js/jquery-2.0.3.min.js') }}"></script>
  </head>

  <body>

    <div id="wrapper">

      <!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Mostrar u ocultar el menú de navegación</span>
            <span class="fa fa-ellipsis-vertical"></span>
          </button>
          <a class="navbar-brand" href="{{ path('inicio') }}"><img src="{{ asset('bundles/yacarebase/images/yacare_logo_gris20.png') }}" alt="Yacaré" /> Yacaré</a>
          <span class="navbar-slogan">Municipio de Río Grande</span>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          {% include 'YacareBaseBundle::menu.html.twig' %}
        </div><!-- /.navbar-collapse -->
      </nav>

      <div id="page-wrapper">

        <div class="row">
          <div class="col-lg-12">
            {% block content %}{% endblock %}
          </div>
        </div><!-- /.row -->

      </div><!-- /#page-wrapper -->

    </div><!-- /#wrapper -->

    <div class="modal" id="modal" role="dialog">
        Cargando...
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ asset('bundles/yacarebase/js/jquery-ui-1.10.3.custom.min.js') }}"></script>
    <script src="{{ asset('bundles/yacarebase/js/jquery.ui.datepicker-es.js') }}"></script>
    <script src="{{ asset('bundles/yacarebase/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/yacarebase/js/jquery.history.js') }}"></script>
    <script src="{{ asset('bundles/yacarebase/js/yacare.js') }}"></script>
    
    {{ tinymce_init() }}
  </body>
</html>