<!-- left menu starts -->
<div class="span2 main-menu-span">
    <div class="well nav-collapse sidebar-nav">
            <ul class="nav nav-tabs nav-stacked main-menu">
                    <li class="nav-header hidden-tablet">Sectores</li>
                    {% if is_expr_granted("hasAnyRole('ROLE_INSPECCION_ADMINISTRADOR', 'ROLE_INSPECCION_USUARIO')") %}
                        <li><a class="ajax-link" href="{{ path('yacare_inspeccion_default_inicio') }}"><i class="icon icon-bullet-on"></i><span class="hidden-tablet"> Inspección</span></a></li>
                    {% endif %}

                    {% if is_expr_granted("hasAnyRole('ROLE_ORGANIZACION')") %}
                        <li><a class="ajax-link" href="{{ path('yacare_organizacion_default_inicio') }}"><i class="icon icon-bullet-on"></i><span class="hidden-tablet"> Organización</span></a></li>
                    {% endif %}

                    {% if is_expr_granted("hasAnyRole('ROLE_RRHH')") %}
                        <li><a class="ajax-link" href="{{ path('yacare_recursoshumanos_default_inicio') }}"><i class="icon icon-bullet-on"></i><span class="hidden-tablet"> Recursos Humanos</span></a></li>
                    {% endif %}

                    {% if is_expr_granted("hasAnyRole('ROLE_CATASTRO')") %}
                        <li><a class="ajax-link" href="{{ path('yacare_catastro_default_inicio') }}"><i class="icon icon-bullet-on"></i><span class="hidden-tablet"> Catastro</span></a></li>
                    {% endif %}

                    {% if is_expr_granted("hasAnyRole('ROLE_COMPRAS_LICITACIONES_ADMINISTRADOR')") %}
                        <li class="nav-header hidden-tablet">Compras</li>
                        <li><a class="ajax-link" href="{{ path('yacare_compras_licitacion_listar') }}"><i class="icon icon-bullet-on"></i><span class="hidden-tablet"> Licitaciones</span></a></li>
                    {% endif %}

                    {% if is_expr_granted("hasAnyRole('ROLE_ADMINISTRADOR')") %}
                        <li class="nav-header hidden-tablet">Administración</li>
                        <li><a class="ajax-link" href="{{ path('yacare_base_persona_listar') }}"><i class="icon-user"></i><span class="hidden-tablet"> Personas</span></a></li>
                        <li><a class="ajax-link" href="{{ path('yacare_base_usuario_listar') }}"><i class="icon-user"></i><span class="hidden-tablet"> Usuarios</span></a></li>
                        <li><a class="ajax-link" href="{{ path('yacare_base_personarol_listar') }}"><i class="icon-user"></i><span class="hidden-tablet"> Roles</span></a></li>
                        <li><a class="ajax-link" href="{{ path('yacare_base_dispositivo_listar') }}"><i class="icon icon-bullet-on"></i><span class="hidden-tablet"> Dispositivos</span></a></li>
                    {% endif %}
            </ul>
    </div><!--/.well -->
</div><!--/span-->
<!-- left menu ends -->