{% extends 'YacareBaseBundle::layout.html.twig' %}

{% set tipo = app.request.get('tipo') %}
{% set id = app.request.get('id') %}

{% block pagina_titulo %}Comentarios de {{ entity }}{% endblock %}

{% block pagina_contenido %}

<div class="container">
    {% for entity in entities %}
        <div class="row">
            <div class="col-sm-2 text-center"><i class="fa fa-user fa-2x text-left"></i><br /><small>{{ entity.Persona }}</small></div>
            <div class="col-sm-10">{{ entity.Obs }}<br />
                <small><abbr title="{{ entity.createdAt|localizeddate() }}" class="text-muted">{{ entity.createdAt|time_ago }}</abbr></small></div>
        </div>
        <hr />
    {% endfor %}
    {{ form_start(form_comentario, {'attr':{'class': 'form-horizontal', 'id': 'form_comentario'}}) }}
        <div class="row">
            <div class="col-sm-2 text-center"><i class="fa fa-user fa-2x text-left"></i><br /><small>{{ app.user }}</small></div>
            <div class="col-sm-10" id="nuevocomentario">{{ form_widget(form_comentario.Obs, { 'attr': { 'placeholder': 'Publicar un comentario...', 'autofocus': 'autofocus' } }) }}</div></span>
        </div>
        <script>
            $('#yacare_basebundle_comentariotype_Obs').keypress(function (e) {
                if (e.which === 13) {
                    e.preventDefault();
                    $('form#form_comentario').submit();
                    return false;
                }
            });
            
            $('#form_comentario').submit(function() {
                $.ajax({
                    type: "POST",
                    url: "{{ path('yacare_base_comentario_publicar') }}",
                    data: $(this).serialize(),
                    success: function(data) {
                        $('#nuevocomentario').html(data);
                    },
                    error: function(data, status) {
                        $('#nuevocomentario').html(data.responseText);
                    }
                });
                return false; 
            });
            
            $('#container').scroll($('#container').height);
            $('#yacare_basebundle_comentariotype_Obs').focus();
        </script>
    {{ form_end(form_comentario) }}
</div>
&nbsp;
{% endblock %}
