{% extends 'TapirBaseBundle::layout.html.twig' %}

{% block pagina_titulo %}Departamentos{% endblock %}

{% block pagina_contenido %}
{% include 'TapirBaseBundle::buscar.html.twig' %}

<table class="table table-condensed table-striped table-hoverselect">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Rango</th>
        </tr>
    </thead>
    <tbody>
{% for entity in entities %}
        <tr data-toggle="modal" href="{{ path(baseroute ~ '_ver', arrastre|merge({ 'id': entity.Id })) }}">
            <td>{{ entity.SangriaDeEspaciosDuros }} {{ entity.Nombre }}</td>
            <td><ll class="label label-{% if entity.rango == 30 %}warning{% elseif entity.rango == 50 %}info{% else %}primary{% endif %}">{{ entity.RangoNombre }}</ll></td>
        </tr>
{% endfor %}
    </tbody>
</table>

{% include 'TapirBaseBundle::paginar.html.twig' %}

{% endblock %}

{% block pagina_acciones2 %}
<a data-toggle="ajax-link" href="{{ path('yacare_organizacion_departamento_editar_1') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Nuevo departamento</a>
{% endblock %}