{% extends 'YacareBaseBundle::layout.html.twig' %}

{% block pagina_titulo %}Departamentos{% endblock %}

{% block pagina_contenido %}
{% include 'YacareBaseBundle::buscar.html.twig' %}

<table class="table table-hover">
    <thead>
        <tr>
            <th> </th>
            <th>Código</th>
            <th>Nombre</th>
            <th>Rango</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a data-toggle="ajax-link" class="btn btn-default btn-xs hidden-print" href="{{ path(baseroute ~ '_editar', arrastre|merge({ 'id': entity.Id })) }}"><i class="fa fa-edit"></i> Editar</a></td>
            <td>{{ entity.Codigo }}</td>
            <td>{{ entity.Sangria|raw }}{{ entity.Nombre }}</td>
            <td><span class="label label-{% if entity.rango == 30 %}warning{% elseif entity.rango == 50 %}info{% else %}primary{% endif %}">{{ entity.RangoNombre }}</span>
</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% include 'YacareBaseBundle::paginar.html.twig' %}

{% endblock %}

{% block pagina_acciones2 %}
<a data-toggle="ajax-link" href="{{ path('yacare_organizacion_departamento_editar_1') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Nuevo departamento</a>
{% endblock %}