{% extends 'YacareTramitesBundle:Tramite:listar.html.twig' %}

{% block title %}Certificados de habilitaci칩n comercial{% endblock %}

{% block content %}
<legend>Certificados de habilitaci칩n comercial</legend>
{% include 'YacareBaseBundle::buscar.html.twig' %}

<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th>#</th>
            <th>Nombre</th>
            <th>Titular</th>
            <th>Actividad</th>
            <th>Local</th>
            <th>Vencimiento</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a class="btn btn-default btn-xs hidden-print" href="{{ path(baseroute ~ '_ver', { 'id': entity.Id }) }}"><i class="fa fa-edit"></i> Ver</a></td>
            <td>{{ entity.Numero }}</td>
            <td>{{ entity.NombreFantasia }}</td>
            <td>{{ entity.Titular }}</td>
            <td>{{ entity.ActividadPrincipal }}</td>
            <td>{% if entity.Local and entity.Local.Partida %}{{ entity.Local.Partida.Domicilio }}{% endif %}</td>
            <td>{{ entity.Vencimiento|localizeddate('medium', 'none') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% include 'YacareBaseBundle::paginar.html.twig' %}

<a href="{{ path('yacare_comercio_tramitehabilitacioncomercial_consultar', arrastre) }}" class="btn btn-primary hidden-print"><i class="fa fa-info-circle"></i> Consulta</a>
<a href="{{ path('yacare_comercio_tramitehabilitacioncomercial_editar_1', arrastre) }}" class="btn btn-primary hidden-print"><i class="fa fa-plus"></i> Iniciar nuevo tr치mite de habilitaci칩n comercial</a>
{% endblock %}