{% extends 'YacareTramitesBundle:Tramite:listar.html.twig' %}

{% block pagina_titulo %}Certificados de habilitación comercial{% endblock %}

{% block pagina_contenido %}
{% include 'YacareBaseBundle::buscar.html.twig' %}

<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th>#</th>
            <th>Nombre</th>
            <th>Titular</th>
            <th>Actividad</th>
            <th>Local</th>
            <th>Fecha</th>
            <th>Vencimiento</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a data-toggle="ajax-link" class="btn btn-default btn-xs hidden-print" href="{{ path(baseroute ~ '_ver', { 'id': entity.Id }) }}"><i class="fa fa-edit"></i> Ver</a></td>
            <td>{{ entity.Numero }}</td>
            <td><strong>{{ entity.Comercio.Nombre }}</strong></td>
            <td>{{ entity.Comercio.Titular }}</td>
            <td><small class="text-muted">{{ entity.Comercio.ActividadPrincipal }}</small></td>
            <td><small class="text-muted">{% if entity.Comercio.Local and entity.Comercio.Local.Partida %}{{ entity.Comercio.Local.Partida.Domicilio }}{% endif %}</small></td>
            <td>{{ entity.createdAt|localizeddate('medium', 'none') }}</td>
            <td>{{ entity.Vencimiento|localizeddate('medium', 'none') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% include 'YacareBaseBundle::paginar.html.twig' %}
{% endblock %}

{% block pagina_acciones2 %}
<a data-toggle="ajax-link" href="{{ path('yacare_comercio_tramitehabilitacioncomercial_consultar', arrastre) }}" class="btn btn-primary hidden-print"><i class="fa fa-info-circle"></i> Consulta</a>
<a data-toggle="ajax-link" href="{{ path('yacare_comercio_tramitehabilitacioncomercial_editar_1', arrastre) }}" class="btn btn-primary hidden-print"><i class="fa fa-plus"></i> Iniciar nuevo trámite de habilitación comercial</a>
{% endblock %}