{% extends 'YacareBaseBundle:Default:listar.html.twig' %}

{% block pagina_titulo %}ActaRutinaDecomiso{% endblock %}

{% block pagina_contenido %}
{% include 'YacareBaseBundle::buscar.html.twig' %}

<table class="table table-striped">
    <thead>
        <tr>            
            <th>Talonario</th>
            <th>Numero</th>
            <th>Tipo de acta</th>
            <th>Fecha</th>
            <th>Comercio</th>
            <th>Persona</th>
            <th>NotaNumero</th>
            <th>Detalle</th>
            <th>Obserrvaciones</th>
            <th>Funcionario Principal</th>
            <th>Funcionario Secundario</th>
            <th>Responsable</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a class="btn btn-default btn-xs" href="{{ path(baseroute ~ '_editar', { 'id': entity.Id }) }}"><i class="fa fa-edit"></i> Editar</a></td>
            <td>{{ entity.Talonario }}</td>
            <td>{{ entity.Numero }}</td>
            <td>{{ entity.SubTipo }}</td>
            <td>{{ entity.Fecha|date("d/m/Y") }}</td>
            <td>{{ entity.Comercio }}</td>
            <td>{{ entity.Persona }}</td>
            <td>{{ entity.NotaNumero }}</td>
            <td>{{ entity.Detalle }}</td>
            <td>{{ entity.Obs }}</td>
            <td>{{ entity.FuncionarioPrincipal }}</td>
            <td>{{ entity.FuncionarioSecundario }}</td>
            <td>{{ entity.ResponsableNombre }}</td>
            <td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% include 'YacareBaseBundle::paginar.html.twig' %}

{% endblock %}

{% block pagina_acciones2 %}
<a href="{{ path(baseroute ~ '_editar_1', arrastre) }}" class="btn btn-primary"><i class="fa fa-plus"></i> Nueva acta</a>
{% endblock %}
