{% extends 'YacareBaseBundle:Default:listar.html.twig' %}

{% block pagina_titulo %}Acta Rutina Decomisos{% endblock %}

{% block pagina_contenido %}
{% include 'YacareBaseBundle::buscar.html.twig' %}

<table class="table table-striped">
    <thead>
        <tr>            
            <th> </th>
            <th>Talonario</th>
            <th>Numero</th>
            <th>Tipo de acta</th>
            <th>Fecha</th>
            <th>Comercio</th>
            <th>Persona</th>
            <th>NotaNumero</th>
            <th>Detalle</th>
            <th>Obserrvaciones</th>
            <th>Funcionario Principal</th>
            <th>Funcionario Secundario</th>
            <th>Responsable</th>
            <th>Huevos</th>
            <th>Carnes</th>
            <th>Grasas</th>
            <th>Prod. de mar</th>
            <th>Embutidos</th>
            <th>Chacinados</th>
            <th>Fiambres</th>
            <th>Lacteos</th>
            <th>Verduras</th>
            <th>Frutas</th>
            <th>Papas</th>
            <th>Almacen</th>
            <th>Cerdo</th>
            <th>Panificados</th>
            <th>Aves</th>
            <th>Bebidas</th>
            
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a data-toggle="ajax-link" class="btn btn-default btn-xs hidden-print" href="{{ path(baseroute ~ '_editar', { 'id': entity.Id }) }}"><i class="fa fa-edit"></i> Editar</a></td>
            <td>{{ entity.Talonario }}</td>
            <td>{{ entity.Numero }}</td>
            <td>{{ entity.SubTipo }}</td>
            <td>{{ entity.Fecha|date("d/m/Y") }}</td>
            <td>{{ entity.Comercio }}</td>
            <td>{{ entity.Persona }}</td>
            <td>{{ entity.NotaNumero }}</td>
            <td>{{ entity.Detalle }}</td>
            <td>{{ entity.Obs }}</td>
            <td>{{ entity.FuncionarioPrincipal }}</td>
            <td>{{ entity.FuncionarioSecundario }}</td>
            <td>{{ entity.ResponsableNombre }}</td>
            <td>{{ entity.Huevo }}</td>
            <td>{{ entity.Carne }}</td>
            <td>{{ entity.Grasa }}</td>
            <td>{{ entity.Mar }}</td>
            <td>{{ entity.Embutido }}</td>
            <td>{{ entity.Chacinado }}</td>
            <td>{{ entity.Fiambre }}</td>
            <td>{{ entity.Lacteo }}</td>
            <td>{{ entity.Verdura }}</td>
            <td>{{ entity.Fruta }}</td>
            <td>{{ entity.Papa }}</td>
            <td>{{ entity.Almacen }}</td>
            <td>{{ entity.Cerdo }}</td>
            <td>{{ entity.Pan }}</td>
            <td>{{ entity.Ave }}</td>
            <td>{{ entity.Bebida }}</td>
            <td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% include 'YacareBaseBundle::paginar.html.twig' %}

{% endblock %}

{% block pagina_acciones2 %}
<a data-toggle="ajax-link" href="{{ path(baseroute ~ '_editar_1', arrastre) }}" class="btn btn-primary"><i class="fa fa-plus"></i> Nueva acta</a>
{% endblock %}
