{% extends 'YacareBaseBundle:Default:listar.html.twig' %}

{% block title %}Ataque{% endblock %}

{% block content_header '' %}

{% block content %}

{% include 'YacareBaseBundle::buscar.html.twig' %}

<table class="table table-striped">
    <thead>
        <tr>            
            <th>Mascota</th>
            <th>A quien</th> 
            <th>Fecha</th> 
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('yacare_zoonosis_ataque_editar', { 'id': entity.Id }) }}"><i class="icon-edit"></i></a> {{ entity.Mascota }}</td>
            <td>{{ entity.AquienNombre }}</td>
            <td>{{ entity.FechaAtaque|date("d/m/Y") }}</td>
            <td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(entities) }}
</div>

<a href="{{ path('yacare_zoonosis_ataque_editar_1') }}" class="btn"><i class="icon-plus"></i> Nuevo ataque</a>
{% endblock %}
