{% block pagina_contenido %}

<div class="container-fluid">
    {% for entity in entities %}
        <div class="row">
            <div class="col-md-12" onclick="seleccionarItem('{{ entity.id }}', '{{ entity.Nombre }}'); return false;">
                <span class="small text-muted">{{ entity.Ruta|raw }}</span><br />
                <h2><a href="#" onclick="seleccionarItem('{{ entity.id }}', '{{ entity.Nombre }}'); return false;">{{ entity.Nombre }}</a></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p>Código ClaMAE 2014 <span style="white-space: nowrap;">{{ entity.Clamae2014|slice(0,5) }}-{{ entity.Clamae2014|slice(4,2) }}</span></p>
                <span class="label label-default">Cat. {{ entity.CategoriaAntigua }}</span>
                {% if entity.Exento %}<span class="label label-info">Exento</span>{% endif %}
                {% if entity.RequiereDeyma %}<span class="label label-info">Req. <abbr title="Dirección de Ecología y Medio Ambiente" class="initialism">DEyMA</abbr></span>{% endif %}
                {% if entity.RequiereDbeh %}<span class="label label-info">Req. <abbr title="Dirección de Bromatología e Higiene" class="initialism">DBeH</abbr></span>{% endif %}
                {% if entity.RequiereInfEscolar %}<span class="label label-info">Req. <abbr title="Infraestructura Escolar Provincial" class="initialism">Requiere Inf.Escolar</abbr></span>{% endif %}   
               
            </div>
            <div class="col-md-8">
                {% if entity.Incluye %}
                    <span class="text-success"><small><strong>Incluye</strong> {{ entity.Incluye }}</small></span>
                {% endif %}
                {% if entity.NoIncluye %}
                    <span class="text-danger"><small><strong>No incluye</strong> {{ entity.NoIncluye }}</small></span>
                {% endif %}
            </div>
        </div>
        <hr />
    {% endfor %}
</div>

{% if not entities %}
    <div class="alert alert-warning">
        <p><i class="fa fa-warning fa-2x"></i> No se encontraron resultados.</p>
    </div>
{% endif %}

{% endblock %}