{% extends 'YacareBaseBundle:Default:listar.html.twig' %}

{% block title %}Actividades{% endblock %}

{% block content_header '' %}

{% block content %}

{% include 'YacareBaseBundle::buscar.html.twig' %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Exento</th>            
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('yacare_comercio_actividad_editar', { 'id': entity.Id }) }}"><i class="icon-edit"></i></a>&nbsp;{{ entity.Codigo }}</td>
            <td>{{ entity.Nombre }}</td>
            <td>{{ entity.Categoria }}</td>
            <td>{{ entity.Exento }}</td>   
        </tr>
    {% endfor %}
    </tbody>
</table>

{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(entities) }}
</div>

<a href="{{ path('yacare_comercio_actividad_editar_1') }}" class="btn"><i class="icon-plus"></i> Nuevo Rubro</a>
{% endblock %}
