{% extends 'YacareBaseBundle:Default:listar.html.twig' %}

{% block pagina_titulo %}Actividades económicas{% endblock %}

{% block pagina_contenido %}
{% include 'YacareBaseBundle::buscar.html.twig' %}

<table class="table table-striped">
    <thead>
        <tr>
            <th> </th>
            <th><abbr title="Clasificador Municipal de Actividades Económicas">Código</abbr></th>
            <th>Nombre</th>
            <th>Cat. antig.</th>
            <th>Obs.</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a data-toggle="ajax-link" class="btn btn-default btn-xs hidden-print" href="{{ path(baseroute ~ '_editar', { 'id': entity.Id }) }}"><i class="fa fa-edit"></i> Editar</a></td>
            <td>{{ entity.Clamae2014|slice(0,5) }}{% if entity.Clamae2014|length > 5 %}-{{ entity.Clamae2014|slice(5,2) }}{% endif %}</td>
            <td>{{ entity.Sangria|raw }}
                {% if entity.Final %}{{ entity.Nombre }}{% else %}<strong>{{ entity.Nombre }}</strong>{% endif %}
            </td>
            <td>{{ entity.CategoriaAntigua }}</td>
            <td>
                {% if entity.Exento %}<span class="label label-info">Exenta</span>{% endif %}
                {% if entity.RequiereDeyma %}<span class="label label-info">Req. DEyMA</span>{% endif %}
                {% if entity.RequiereDbeh %}<span class="label label-info">Req. DBeH</span>{% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% include 'YacareBaseBundle::paginar.html.twig' %}

{% endblock %}

{% block pagina_acciones2 %}
<a data-toggle="ajax-link" href="{{ path(baseroute ~ '_editar_1') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Nueva actividad</a>
<a href="{{ path(baseroute ~ '_exportarlista') }}" class="btn btn-default"><i class="fa fa-download"></i> Descargar para Excel</a>
{% endblock %}