{% extends 'TapirBaseBundle:Default:listar.html.twig' %} {% block
pagina_titulo %}Actividades económicas{% endblock %} {% block
pagina_contenido %}
<table class="table table-hoverselect">
	<thead>
		<tr>
			<th><abbr
				title="Clasificador Municipal de Actividades Económicas 2014">Código</abbr></th>
			<th>Nombre</th>
			<th class="hidden-sm hidden-xs">Cat. antig.</th>
			<th class="hidden-sm hidden-xs">Obs.</th>
		</tr>
	</thead>
	<tbody>
		{% for entity in entities %}
		<tr  {% if is_expr_granted("hasAnyRole('ROLE_ADMINISTRADOR')") %}
			     {% if entity.Final %}
					data-toggle="ajax-link"
					href="{{ path(baseroute ~ '_editar', { 'id': entity.Id }) }}"
					{% else %}
					data-toggle="ajax-link"
					href="{{ path(baseroute ~ '_editar', { 'id': entity.Id, 'form':'ActividadCategoria' }) }}"
				{%endif%}	
			{% endif %}>
			<td>{{ entity.Clamae2014Formateado }}</td>
			<td>{{ entity.Sangria|raw }} {% if entity.Final %}{{ entity.Nombre
				}}{% else %}<strong>{{ entity.Nombre }}</strong>{% endif %}
			</td>
			<td class="hidden-sm hidden-xs">{% if entity.Final %}{{
				entity.CategoriaAntigua }}{% endif %}</td>
			<td class="hidden-sm hidden-xs">{% if entity.Exento %}<span
				class="label label-success">Exenta</span>{% endif %} {% if
				entity.RequiereDeyma %}<span class="label label-info">Req. DEyMA</span>{%
				endif %} {% if entity.RequiereDbeh %}<span
				class="label label-warning">Req. DBeH</span>{% endif %} {% if
				entity.RequiereCamaraGrasa %}<span class="label label-warning">Req.
					CamaraGrasa</span>{% endif %} {% if entity.RequiereCamaraBarro%}<span
				class="label label-warning">Req. CamaraBarro</span>{% endif %} {% if
				entity.RequiereInfEscolar%}<span class="label label-warning">Req.
					InfEscolar</span>{% endif %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock pagina_contenido %} {% block pagina_paginar %}{% include
'TapirBaseBundle::paginar.html.twig' %}{% endblock pagina_paginar %} {%
block pagina_buscar %}{% include 'TapirBaseBundle::buscar.html.twig'
%}{% endblock pagina_buscar %} {% block pagina_acciones2 %}
<a data-toggle="ajax-link" href="{{ path(baseroute ~ '_editar_1') }}"
	class="btn btn-primary"><i class="fa fa-plus"></i> Nueva actividad</a>
<a href="{{ path(baseroute ~ '_listarexportar') }}"
	class="btn btn-default"><i class="fa fa-download"></i> Descargar para
	Excel</a>
{% endblock %}
