{% extends 'YacareBaseBundle::layout.html.twig' %}

{% block pagina_titulo %}Usuarios{% endblock %}

{% block pagina_contenido %}

{% include 'YacareBaseBundle::buscar.html.twig' %}

<table class="table table-hover">
    <thead>
        <tr>
            <th> </th>
            <th>Nombre</th>
            <th>Documento</th>
            <th>Usuario</th>
            <th>Roles</th>
            <th>Grupos</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a data-toggle="ajax-link" class="btn btn-default btn-xs hidden-print showonhover" href="{{ path(baseroute ~ '_editar', { 'id': entity.Id }) }}"><i class="fa fa-edit"></i> Editar</a></td>
            <td>{{ entity.NombreVisible }}</td>
            <td>{{ entity.DocumentoNumero }}</td>
            <td>{{ entity.Username }}</td>
            <td>{% for Nombre in entity.Roles %}<span class="label label-info">{{ Nombre }}</span> {% endfor %}</td>
            <td>{% for Nombre in entity.Grupos %}<span class="label label-info">{{ Nombre }}</span> {% endfor %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(entities) }}
</div>
{% endblock %}