{% extends 'TapirBaseBundle::layout.html.twig' %}

{% block pagina_titulo %}Agentes{% endblock %}

{% block pagina_contenido %}

{% include 'TapirBaseBundle::buscar.html.twig' %}

<table class="table table-hoverselect">
    <thead>
        <tr>
            <th>Legajo</th>
            <th>Nombre</th>
            <th>Cat.</th>
            <th>Departamento</th>
            <th>Fecha de ingreso</th>
            <th>Fecha de baja</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr data-toggle="modal" href="{{ path(baseroute ~ '_ver', { 'id': entity.Id }) }}">
            <td>{{ entity.Id }}</td>
            <td>{{ entity }}</td>
            <td>{{ entity.Categoria }}</td>
            <td>{{ entity.Departamento }}</td>
            <td>{{ entity.FechaIngreso|tapir_fecha('medium', 'none') }}</td>
            <td>{{ entity.FechaBaja|tapir_fecha('medium', 'none') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% include 'TapirBaseBundle::paginar.html.twig' %}

<a data-toggle="ajax-link" href="{{ path(baseroute ~ '_editar_1') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Alta de nuevo agente</a>
{% endblock %}