{% extends 'TapirBaseBundle::layout.html.twig' %}

{% block pagina_titulo %}Agentes{% endblock %}

{% block pagina_contenido %}
<table class="table table-hoverselect">
	<thead>
		<tr>
			<th>Legajo</th>
			<th>Nombre</th>
			<th>Cat.</th>
			<th>Departamento</th>
			<th>Usuario</th>
		</tr>
	</thead>
	<tbody>
		{% for entity in entities %}
		<tr data-toggle="ajax-link" href="{{ path(baseroute ~ '_ver', arrastre|merge({ 'id': entity.Id })) }}">
			<td>{{ entity.Id }}</td>
			<td>{{ entity }}</td>
			<td>{{ entity.Categoria }}</td>
			<td>{{ entity.Departamento }}</td>
			<td>{{ entity.Persona.Username }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}

{% block pagina_paginar %}{% include 'TapirBaseBundle::paginar.html.twig' %}{% endblock pagina_paginar %}
{% block pagina_buscar %}{% include 'TapirBaseBundle::buscar.html.twig' %}{% endblock pagina_buscar %}
