{% extends 'YacareBaseBundle::layout.html.twig' %}

{% block title %}Agente{% endblock %}

{% block content_header '' %}

{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Legajo</th>
            <th>Nombre</th>
            <th>Departamento</th>
            <th>Fecha de ingreso</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.Id }}</td>
            <td>{{ entity }}</td>
            <td>{{ entity.Departamento }}</td>
            <td>{{ entity.FechaIngreso|date('d-m-Y') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(entities) }}
</div>
<a href="{{ path('yacare_recursoshumanos_agente_editar_1') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Alta de nuevo agente</a>
{% endblock %}