{% extends 'TapirTemplateBundle::layout.html.twig' %}

{% block pagina_titulo %}Requerimiento: &quot;{{ entity.Name }}&quot;{% endblock %}

{% block pagina_contenido %}
<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Descripción</h3></div>
    <div class="panel-body">
        {{ entity.Content|tapir_decodehtml|raw('html') }}
    </div>
    <div class="panel-footer">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 col-sm-4 text-muted text-right">Solicitantes</div>
                <div class="col-md-4 col-sm-6">{% for user in entity.Users %}{% if user.Type == 1 %}
                    {% if user.UseNotification %}<i class="fa fa-envelope text-muted"></i>{% endif %} {{ user.User.FirstName }} {{ user.User.RealName }}<br />
                    {% endif %}{% endfor %}
                </div>
                
                <div class="col-md-2 col-sm-4 text-muted text-right">Encargados</div>
                <div class="col-md-4 col-sm-6">{% for user in entity.Users %}{% if user.Type == 2 %}
                    {% if user.UseNotification %}<i class="fa fa-envelope text-muted"></i>{% endif %} {{ user.User.FirstName }} {{ user.User.RealName }}<br />
                    {% endif %}{% endfor %}
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-2 col-sm-4 text-muted text-right">Fecha</div>
                <div class="col-md-4 col-sm-6">{{ entity.Date|tapir_fecha }}</div>
                
                <div class="col-md-2 col-sm-4 text-muted text-right">Estado</div>
                <div class="col-md-4 col-sm-6"><span class="label label-{% if entity.Status == 6 %}success{% else %}default{% endif %}">
                    {{ entity.StatusName }}
                </span></div>
            </div>
            
            <div class="row">
                <div class="col-md-2 col-sm-4 text-muted text-right">Observadores</div>
                <div class="col-md-4 col-sm-6">{% for user in entity.Users %}{% if user.Type == 3 %}
                    {% if user.UseNotification %}<i class="fa fa-envelope text-muted"></i>{% endif %} {{ user.User.FirstName }} {{ user.User.RealName }}<br />
                    {% endif %}{% endfor %}
                </div>
                
                <div class="col-md-2 col-sm-4 text-muted text-right">Categoría</div>
                <div class="col-md-4 col-sm-6">{{ entity.ItilCategory }}</div>
            </div>

        </div>
    </div>
</div>

<h2>Seguimientos</h2>
<div class="container-fluid">
{% if entity.FollowUps|length == 0 %}
    <p>Aun no hay seguimientos.</p>
{% else %}
    
    {% for followup in entity.FollowUps %}
        <div class="row">
            <div class="col-sm-2 text-center"><i class="fa fa-comment fa-2x text-muted"></i><br /><small>{{ followup.User.FirstName }}</small></div>
            <div class="col-sm-10">{{ followup.Content }}<br />
                <small class="text-muted" data-toggle="tooltip" data-placement="bottom" title="{{ followup.Date|tapir_fecha }}">{{ followup.Date|tapir_hacetiempo }}</small></div>
            </div>
            <hr />
    {% endfor %}
{% endif %}
</div>


{% endblock pagina_contenido %}

{% block pagina_acciones %}
    <span adata-toggle="ajax-link" onclick="return tapirAtras();" class="btn btn-link"><i class="fa fa-reply"></i> Volver</span>
{% endblock pagina_acciones %}

{% block pagina_acciones2 %}
{% endblock pagina_acciones2 %}
